<section class="grey wrap-box accordion">
    <header>
        <h1>Pick city or county</h1>
        <span class="rightcap"></span>
        <span class="rightnib"></span>
    </header>
    <div id="county-navigation">
        {% for county in local_counties %}
            <h5><a href="#">{{county.name}}</a></h5>
            <div style="display:none;">
                <a href="{% url immunizations_county county.slug %}">All {{county.name}} County</a>
                {% for city in county.school_cities %}
                 <a href="{% url immunizations_city city.slug %}">&raquo; {{city.name|title}}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
