<script type="text/javascript">
    $(document).ready(function() {
        var compare_chart = new Highcharts.Chart({
            chart: {
                renderTo: 'compare_chart',
                defaultSeriesType: 'column',
                height: 250,
                margin: [25, 30, 80, 60]
            },
            legend: {
                align: 'center'
            },
            title: {
                text: '2010-11 School Year Immunization Rate',
                style: {fontSize: '100%'}
            },
            xAxis: {
                categories: ['{{district.name|title}} vs. {{county_data.county.name|title}} vs. California']
            },
            yAxis: {
                title: {
					text: 'Percent'
				}
            },
            tooltip: {
                formatter: function() {
                    return ''+
                         this.series.name +': ' + addCommas(this.y) + '%';
                },
                style: {
                    color: '#515151',
                    fontSize: '9pt',
                    padding: '5px'
                }
            },
            plotOptions: {
                series: {
                     events: {
                         legendItemClick: function(event) {
                             event.preventDefault();
                             return false;
                         }
                     }
                 }
            },
          credits: {
                enabled: false
            },
            series: [
                {
                    name: 'District rate',
                    data: [{{district_data.percent_up_to_date|floatformat:2}}]
                },
                {
                    name: 'County Rate',
                    data: [{{county_data.percent_up_to_date|floatformat:2}}]
                },
                {
                    name: 'Statewide rate',
                    data: [90.76]
                }
            ]
        });
	});
</script>
<div id="compare_chart"></div>
