<span class="brand">A Bay Citizen Data App</span>
<h5>Immunization Stats: <br /><span>Are parents in your area opting out of vaccinating their kids?</span></h5>
<p>To show how many Bay Area kindergartners were up-to-date with their shots at the start of the 2010-11 school year, and how many parents opted out, we compiled this data from the California Department of Public Health. See last year's rates in your <a href="{% url schools_index_show 'immunizations' %}">school</a>, <a href="{% url schools_districts_index_show 'immunizations' %}">district</a>, <a href="{% url locations_cities_show 'immunizations'%}">city</a> or <a href="{% url locations_counties_show 'immunizations' %}">county</a>.</p>
<div class="backLink"><a href="{% url locations_counties_show 'immunizations' %}">&laquo; Back to App Homepage</a> </div>
<h1>{{page_title}}</h1>
