{% load generic_tags humanize %}

<h2 class="bigteal">Immunization and Enrollment Statistics by School</h2>
<p>What percent of kindergartners were fully immunized by the start of the 2010-11 school year in each school? How many kindergartners' parents opted out? Click a column name to sort.</p>
<table class="schoolresults raw-table-data">
<thead>
	<tr>
		<th><a href="?order={% ifequal order '-school' %}school{% else %}-school{% endifequal %}" class="{% simple_sort order "school" %}">School</a></th>
		<th><a href="?order={% ifequal order '-district' %}district{% else %}-district{% endifequal %}" class="{% simple_sort order "district" %}">District</a></th>
		<th><a href="?order={% ifequal order '-type' %}type{% else %}-type{% endifequal %}" class="{% simple_sort order "type" %}">School Type</a></th>
		<th class="rightAlign"><a href="./?order={% ifequal order '-percent_up_to_date' %}percent_up_to_date{% else %}-percent_up_to_date{% endifequal %}" class="{% simple_sort order "percent_up_to_date" %}">Up-to-date immunization rate</a></th>
		<th class="rightAlign"><a href="./?order={% ifequal order '-percent_conditional' %}percent_conditional{% else %}-percent_conditional{% endifequal %}" class="{% simple_sort order "percent_conditional" %}">Conditional Entrants</a></th>
		<th class="rightAlign"><a href="./?order={% ifequal order '-average_pbe' %}average_pbe{% else %}-average_pbe{% endifequal %}" class="{% simple_sort order "average_pbe" %}">Personal belief exemption rate</a></th>
		<th class="rightAlign"><a href="./?order={% ifequal order '-enrollment' %}enrollment{% else %}-enrollment{% endifequal %}" class="{% simple_sort order "enrollment" %}">Kindergarten enrollment</a></th>
	</tr>
</thead>
<tbody>
	{% for row in rows %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td><a href="{% url immunizations_school row.school.slug %}">{{row.school.name|title}}</a></td>
			<td>{%if row.district.slug%}<a href="{% url immunizations_district row.district.slug %}">{{row.district.name|title}}</a>{%endif%}</td>
			<td>{{row.get_type_display|title}}</a></td>
			<td class="rightAlign">{{row.percent_up_to_date|floatformat:2|intcomma|default:0}}%</td>
			<td class="rightAlign">{{row.percent_conditional|floatformat:2|intcomma|default:0}}%</td>
			<td class="rightAlign">{{row.percent_pbe|floatformat:2|intcomma|default:0}}%</td>
			<td class="rightAlign">{{row.enrollment|intcomma}}</td>
		</tr>
	{% endfor %}
</tbody>
</table>
<div style="text-align: right; padding: 5px;">{% simple_paginate pages %}</div>

