	{% extends "layouts/base.html" %}

	{% block internal_css_includes %}
		<!--link rel="stylesheet" href="{{MEDIA_URL}}css/dataapps.css" type="text/css" media="screen, projection"/-->
		<link rel="stylesheet" href="{{MEDIA_URL}}css/dataapps/data_apps.css" type="text/css"/>
	{% endblock %}

	{% block js %}
		{{block.super}}
		<script type="text/javascript" charset="utf-8">
			$('#da-select-menu a.btn.dd').click(function(e) {
				e.preventDefault()
				$("#da-select-menu ul").css({display:"block"});
				$('#da-select-menu').mouseleave(function(e) {
					$("#da-select-menu ul").delay(400).fadeOut(200);
				});
			});
		</script>
	{% endblock %}


	{% block content %}
	<div id="data-app" class="cf">
		{% block header_menu %}
		<div class="app-hd">

            <strong class="info">{% block app_title %}{% endblock %}</strong>
            <div class="social-links">{% block social_links %}{% endblock %}</div>
        </div>
        {% endblock %}
    
    <div id="app-bd">
        {% block info_toggle %}
        {% endblock %}

        {% block main_column %}
        {% endblock %}

</div>
{% endblock %}
