{% extends "bike_accidents/bike_accidents_base.html" %}

{% load content_filters %}

{% block page_title %}Bike Accidents - The Bay Citizen{% endblock %}

{% block external_js %}
    {{block.super}}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript" charset="utf-8">
        var map = null; 
        var neighborhood_layer = null; 

        function toggle_neighborhood() {
            if(neighborhood_layer.map) {
                neighborhood_layer.setMap(null);
            }else {
                neighborhood_layer.setMap(map);
            }
        }        

        $(function (){
        	var custom_map_style = [ { featureType: "poi", elementType: "all", stylers: [ { visibility: "simplified" } ] },
        	                         { featureType: "administrative.land_parcel", elementType: "all", stylers: [ { visibility: "off" } ] }, 
        	                         { featureType: "administrative.neighborhood", elementType: "all", stylers: [ { visibility: "off" }, { invert_lightness: true }] },
        	                         { featureType: "landscape", elementType: "all", stylers: [ { visibility: "off" } ] },
        	                         { featureType: "road.highway", elementType: "all", stylers: [ { visibility: "off" } ] },
        	                         { featureType: "transit.line", elementType: "all", stylers: [ { visibility: "off" } ] },
        	                         { featureType: "transit.station", elementType: "all", stylers: [ { visibility: "off" } ] } ];
            var default_center = new google.maps.LatLng(37.778629, -122.446682);
            
            map = new google.maps.Map(document.getElementById('accident-map'), {
              center: default_center,
              zoom: 13,
              mapTypeControlOptions: {
                  mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'custom']
               }
            });
            
            var customMapType = new google.maps.StyledMapType(custom_map_style, {name: "Custom"})
            map.mapTypes.set('custom', customMapType);
            map.setMapTypeId('custom');

            //  Set Default Layers
            neighborhood_layer = new google.maps.FusionTablesLayer(278308);
            neighborhood_layer.setMap(map);
        });         
    </script>
{% endblock %}

{% block main_column %}
<div id="ba-right">
   <ul class="maptabs">
        <li>
            <a href="{% url bike_accidents_index %}" title="Reported Accidents">Reported Accidents</a>
        </li>
        <li>
            <a href="{% url bike_accidents_neighborhoods %}" title="Neighborhoods">Neighborhoods</a>
        </li>
        <li class='current'>
            <a href="#" title="Dangerous Intersections">Dangerous Intersections</a>
        </li>
    </ul>
 	<p style="margin: 20px">A simple HTML table displaying the most dangerous intersections. For an example, see <a href="http://www.crashstat.org/topten.html">http://www.crashstat.org/topten.html</a>. </p>	

    <div class="column list">
    </div>
</div>
{% endblock %}
