/* global */
body {
    margin:0;
    padding:0;
    background-color:#fff;
    text-align:center;
}
div, td {
    color:#000;
    font:normal 12px/18px Arial, Helvetica, sans-serif;
}
a, a:link, a:active {
    color: #CB9900;
    text-decoration:none;
    outline:none;
}
a:visited {
    color: #CB9900;
}
a:hover {   
    text-decoration:underline;
}
img {
    border:none;
}


/* structure
-------------------------------------*/
#wrapper {
    /*width:320px;*/
    /*width:240px;*/
    /*margin:0 auto;*/
    text-align:left;
}


/* text */
#header h1 {
    padding:0;  
    background-color:#000;
    text-align:center;
    font-size:0;
    line-height:0;
}
#header div.date {
    padding: 0;
    color:#333;
    font:normal 11px/13px Georgia, "Times New Roman", serif;
    border-bottom:solid 1px #000;
}
h2 {
    padding:2px 7px;
    border-bottom:solid 3px #000;
    font-weight:bold;
    font-size:11px;
    line-height:16px;
    text-transform:uppercase;
    background-color:#ccc;
}
h3 {
    padding:5px 7px 0 7px;
    font:normal 16px/20px Georgia, "Times New Roman", serif;
}
p {
    padding:5px 7px;
    color:#333;
}
p.byline {
    color:#666;
    font-size:11px;
}
p.byline strong {
    color:#000;
}
a.enlarge {
    display: none;
}


/* routing */
ul.routing {
    border-left:solid 3px #ffc200;
}
ul.routing li {
    border-bottom:solid 1px #b2b2b2;
}
ul.routing li a,
ul.routing li a:link,
ul.routing li a:visited,
ul.routing li a:active {
    display: block;
    padding:6px 9px;
    color:#000;
    font:bold 1.1em Georgia, "Times New Roman", serif;
    margin-right: 15px;
}

ul.routing li a:hover {
    background-color:#eee;
    text-decoration: none;
}

ul.routing li p {
    display: inline;
    font-weight: normal;
    font-size: 0.8em;
}


/* footer */
#footer {
    padding:10px 7px;
    background-color:#000;
    clear: both;
}
#footer ul li {
    text-align:center;
}
#footer ul li a,
#footer ul li a:link,
#footer ul li a:active,
#footer ul li a:visited {
    padding:0 7px;
    color:#fff;
    font-weight:bold;
    font-size:11px;
    background:url(http://static.texastribune.org/common/images/ico_mobile_bullet.gif) transparent 0 6px no-repeat;
}
#footer p {
    padding:6px 0 0 0;
    color:#999;
    font:bold 11px/16px Arial, Helvetica, sans-serif;
    text-align:center;
}


/* nav */
ul.nav li {
    padding:2px 0;
    font:normal 11px/16px Arial, Helvetica, sans-serif;
    display: inline;
}
ul.nav li a em {
    font-style:normal;
    font:normal 14px/16px Georgia, "Times New Roman", serif;
}
ul.nav li a,
ul.nav li a:link,
ul.nav li a:visited,
ul.nav li a:active {
    color: black;
    font-weight:bold;
    font-size:11px;
}


/* nav-top */
ul.nav-top {
    margin:5px 7px;
}
ul.nav-top li {
    text-align:left;
}


/* nav-bottom */
ul.nav-bottom {
    margin:10px 0px 15px 0;
}
ul.nav-bottom li {
    text-align:center;
}

div.media {
    margin: 0 auto 10px;
    width: 260px;
}

.photo_caption {
    font-size: 0.9em;
    padding: 0;
}

.pagination { background-color: #ebebeb; padding: 5px 20px; float: left; width: 552px; margin: 10px 0 10px -21px; border-top: 1px dotted #b2b2b2; border-bottom: 1px dotted #b2b2b2; }
.pagination .pages { float: left; margin-left: 5px; padding: 5px 0; }
.pagination .pageNumber { float: left; width: 18px; height: 18px; margin-right: 5px; color: #005293; text-align: center; font-weight: bold; }
.pagination .pages .active { color: #000; background-color: #f7f7f7; border: 1px solid #b4b4b4; margin-top: -1px; }
