#data-app {
    background-image:none;
    padding-bottom:0;
    position:relative;
}


/* columns */

#data-app.library .columns {
    width:100%;
    float:left;
    padding-bottom:28px;
    background:#f8f8f8 url(../../images/bikeapp/applibshad.png) repeat-x;
}

#data-app.library .column {
    display:inline-block;
    *display:inline;
    zoom:1;
}

#data-app.library .leftcol {
    width:598px;
    margin-right:20px;
    margin-left:22px;
}

#data-app.library .rightcol {
    width:300px;
}

/**************** tab overrides  ***********************/

#data-app {text-align: left; }
#loading-tabs {
    background: url("../../images/datalibrary/ajax-loader.gif") no-repeat scroll 50% 50% #FFFFFF;
    height: 340px;
    left: 12px;
    position: absolute;
    top: 60px;
    width: 930px;
    z-index: 5;
    border:1px solid #999;
}

#data-app  #st_vertical {	
    background: url("http://media.baycitizen.org/images/datalibrary/fet-proj4.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #D4D4D4;
    clear: both;
    float: left;
    margin: 10px 0 20px 12px;
    position: relative;
    width: 930px;
    z-index: 4;
}

/* tabs */

#data-app ul.st_tabs li a {	
    border-left:0;
}

#data-app div.st_vertical ul.st_tabs li a {
    background: url("http://media.baycitizen.org/images/topic-index/tabback.png") repeat-x scroll 0 0 #F4F4F4;
    border-bottom: 1px solid #D4D4D4;
    border-left: 0 solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    display: block;
    font-size: 11px;
    height: 51px;
    line-height: normal;
    overflow: hidden;
    padding: 4px 8px;
    position: relative;
    vertical-align: middle;
    width: 151px;
}
#data-app div.st_vertical ul.st_tabs li a span {
    color: #0063AE;
    font-weight: bold;
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
}

#data-app div.st_vertical ul.st_tabs a:hover span {
    color: #333333;
}
#data-app div.st_vertical ul.st_tabs a.st_tab_active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #FFFFFF;
    position: relative;
    z-index: 10;
}
#data-app div.st_vertical ul.st_tabs li a.st_tab_active span {
    color: #000000;
}


/* buttons */

#data-app .st_vertical a.st_prev, 
#data-app .st_vertical a.st_next {	
	position:absolute;
    bottom:0;
    border-bottom:0;
}
#data-app .st_vertical a.st_prev {	
    left:0;
	border-left:0;
}
#data-app .st_vertical a.st_next {	
	position:absolute;
    bottom:0;
    right:1px;
}

#data-app .st_tabs_container {	
    margin-top:60px;
    height:277px;
}


/* sliding tab content */

#data-app .st_vertical div.st_view_container {
    float:right;
    border:0;
    width: 760px;
    height:338px;
    padding:0;
    overflow:hidden;
}

#data-app div.st_tab_view {
    background: url("http://media.baycitizen.org/images/datalibrary/dl-featured-bg2.png") no-repeat scroll 101% 100% #FFFFFF;
    height: 340px;
    margin: 0;
    padding: 0px;
    position: absolute;
    width: 760px;
    z-index: 1;
}

#data-app div.st_view {
    width: 760px;
    position:relative;
}

#data-app div.st_view p.deck {
    font-family: "Georgia",serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.5em;
    position: absolute;
    right: 10px;
    top: 25px;
    width: 150px;
    z-index: 1;
    margin-top:0;
}

#data-app div.st_view .leadart {
    display: block;
    margin: 10px 0 0 12px;
}

/* awesome button */
#data-app div.st_view .awesome {
    bottom: 16px;
    position: absolute;
    right: 56px;
}


/* apps */

#data-app.library .app {
    cursor:pointer;
    width:186px;
    height:392px;
    display:inline-block;
    *display:inline;
    zoom:1;
    border:1px solid #78797d;
    background:#f8f8f8 url(../../images/datalibrary/appbg.png) repeat-x 0 100%;
    position:relative;
    float:left;
    margin-right:16px;
    margin-bottom:20px;
       -moz-box-shadow: 0px 3px 4px #999999; 
    -webkit-box-shadow: 0px 3px 4px #999999; 
            box-shadow: 0px 3px 4px #999999; 

}

#data-app.library .app:hover {
    border:1px solid #e37628;
}

#data-app.library h2 {
    font-size:18px;
    margin-bottom:10px;
}

#data-app.library .app.last {
    margin-right:0px;
}

#data-app.library .app h3 {
    padding:0;
    line-height:1.2em;
    margin:0;
    color:#fff;
    height:54px;
    width:166px;
    position:absolute;
    top:152px;
    left:10px;
    font-size:14px;
    font-family:"Georgia",serif;
}

#data-app.library .app p.appdesc {
    padding:0;
    margin:0;
    color:#000;
    width:166px;
    position:absolute;
    top:216px;
    left:10px;
}

#data-app.library .app span.updated {
    position:absolute;
    bottom:55px;
    left:10px;
    color:#bf2026;
}

#data-app .app a.launch {
    left:60px;
    bottom:8px;
    position:absolute;
}

#data-app .qf-nonhover{
    overflow:hidden;
    display:block;
    width:186px;
    height:143px;
}

#data-app .qf-nonhover img {
    width:186px;
    height:142px;
}
/* hoverup */
#data-app .qf-hover {
    overflow:hidden;
    display:block;
    width:186px;
    height:143px;
}

#data-app .qf-hover small {
    width:162px;
    height:103px;
    background:url(../../images/datalibrary/qfact.png) no-repeat;
    color:white;
    display:block;
    padding:40px 12px 0 12px;
    font-size:12px;
}

#data-app .qf-hover img {
    width:186px;
    height:142px;
}


/****************  right column  ***********************/

#data-app .desp-pg {
    margin-bottom:20px;
}

#body-control textarea {
    width:280px;
    height:130px;
}

/* form */

.message {
    border:1px solid #3a5823;
    background:#d9e7cc;
    padding:15px;
    font-family:Helvetica,sans-serif;
    margin:10px 0;
}

.message.failure {
    border:1px solid #b73125;
    background:#e5baab;
}

.message h3,
.message p {
    color:#3a5823;
    font-family:Helvetica,sans-serif;
    font-size:14px;
}

.message.failure h3,
.message.failure p {
    color:#b73125;
}


.message p {
    margin:0;
    font-size:12px;
}

/* tab box */
.tab-box {
    margin-top:40px;
    background:url(../../images/datalibrary/tbbg.png) repeat-y;
}

#data-app .tab-box h2 {
    background:url(../../images/datalibrary/wht.png) no-repeat;
    color:#fff;
    font-size:10px;
    text-transform:uppercase;
    font-family:Helvetica,sans-serif;
    padding:3px 10px 6px 10px;
    margin:0;
    position:relative;
}

#data-app .tab-box h2 span {
    background:url(../../images/datalibrary/wht.png) no-repeat 100% 0;
    display:block;
    height:25px;
    width:20px;
    position:absolute;
    top:0;
    right:0;
}

#data-app .tab-box h3 {
    font-size:14px;
}

.tab-box-content {
    margin:0 20px;
}

.tab-box-content .tb-item cite {
    font-style:normal;
    font-size:12px;
    color:#7e7777;
}

.tab-box-content .tb-item cite .attribution a {
    text-transform:uppercase;
    color:#000000;
    font-family:Helvetica,arial,sans-serif;
}

.tb-item .comments a {
    display:block;
    padding:3px 20px;
    background:url(../../images/datalibrary/comment.gif) no-repeat 0 50%;
    color:#000000;
    font-family:Helvetica,arial,sans-serif;
}

.tab-box-content .tb-item {
    padding-bottom:15px;
    margin-bottom:15px;
    border-bottom:1px dotted #999;
}

#hot-tabs.tab-box-content .tabs {
    background-color: #F1F1F1;
    border-bottom: 1px solid #B4B4B4;
    margin: -5px -14px 10px -14px;
    padding: 10px 12px 0;
    position:relative;
}
