#baheader {
	margin-top:1px;
}
.fb-comments, .fb-comments iframe[style] {
    width: 100% !important;
}
.col .c1 {
    width: 100%;
}
.two-col.tc1 .c1{
    width: 100%;
}
#disqus > span{
    width: 100% !important;

}
#data-app {
    border:1px solid #b4b4b4;
    border-width:0 1px 1px 1px;
    width:960px;
    margin:0 auto;
    padding-bottom:20px;
    background:#ffffff;
    text-align:left;
}

#introInfo {
    margin:10px;
    position:relative;
    padding-top:30px;
}

#introInfo .more-info {
    margin:10px 0 20px 3px;
    display:inline-block;
    *display:inline;
    zoom:1;
    font-size:14px;
    color:#000000;
    text-decoration:none;
    font-weight:bold;
}

#hide {
    position:absolute;
    top:0;
    right:0;
    background:url(../../images/bikeapp/info.png) no-repeat 100% 0;
    padding:3px 20px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

#introCopy {
    border:2px solid #d4d4d4;
    padding:15px;
    background:#f6f6f6;
}

#introCopy ul {
    margin:0;
    padding:0;
    list-style:none;
    width:105%;
}

#introCopy ul li {
    margin:0;
    padding:0;
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    width:284px;
    height:64px;
    border:1px solid #dbdbdb;
    margin:0 15px 10px 0;

       -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
            border-radius: 20px; 
    overflow:hidden;
    background:#eeeeee url(../../images/bikeapp/icn-rep.png) no-repeat 12px 0px;
}

#introCopy ul li:hover {
    background-color:#fff;
}

#introCopy ul li.what-mean {
    background-position:12px -65px;
}

#introCopy ul li.charts {
    background-position:12px -130px;
}

#introCopy ul li.method {
    background-position:12px -195px;
}

#introCopy ul li.raw-data {
    background-position:16px -262px;
}

#introCopy ul li.report {
    background-position:12px -332px;
}


#introCopy ul li a {
    display:block;
    padding:10px 70px;
    font-weight:bold;
    font-size:14px;
    white-space:nowrap;
}

#introCopy ul li a span {
    display:block;
    color:#000;
    font-size:12px;
    font-weight:normal;
    white-space:nowrap;
}


#introCopy p {
    margin:15px 0;
}

#introCopy .mail-us {
    text-align:center;
    padding:10px 0;
}

#introCopy .mail-us a {
    font-weight:bold;
}

.byline {
    text-transform: uppercase;
	color: gray;
	padding: 10px;
}



/* both columns */



/* leftcol / filters */

h6.legend.filterstitle {
    background:#ffffff url(../../images/bikeapp/lchdbg-filter.jpg) no-repeat 0 100%;
    height:26px;
    width:186px;
    margin:0;
    position:relative;
    left:-15px;
    padding-top:42px;
    padding-left:15px;
    text-transform:uppercase;
    font-family:helvetica;
    color:#fff;
    font-size:11px;
}

h6.legend.filterstitle2 {
    background:url(../../images/bikeapp/filter-hd2.jpg) no-repeat 0 0;
    width:186px;
    margin:0;
    position:relative;
    left:-15px;
    padding:15px;
    text-transform:uppercase;
    font-family:helvetica;
    color:#fff;
    font-size:11px;
}

h6.legend.filterstitle2 a {
    color:#fff;
}

#lcfoot {
    position:absolute;
    bottom:-1px;
    left:0;
}

.filters .filter label {
    color:#ffffff;
}

.filters .filter select {
    width:100px;
}

/* dates */

.filters .filteroptions .datefilter {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.filters .filteroptions .datefilter label {
    display:block;
    width:40%;
    *margin-bottom:4px;
    float:left;
    margin-left:2px;
}

.filters .filteroptions .datefilter label.label-to {
    margin-left:18px;
}

.filters .filteroptions .filter .fromto {
    display:block;
    position:relative;
    height:20px;
    clear:both;
}

.filters .filteroptions .datefilter img.ui-datepicker-trigger {
    position:relative;
    float:left;
    margin-left:2px;
    margin-top:2px;
}
.filters .filteroptions .filter .fromdiv,
.filters .filteroptions .filter .todiv {
    float:left;
}
.filters .filteroptions .filter .todiv {
    margin-left:4px;
}

.filters .filteroptions .filter .fromto input {
    width:50px;
    *width:45px;
    letter-spacing:-0.05em;
    height:15px;
    font-size:10px;
    color:#4c4c4c;
    font-family:"Trebuchet MS",sans-serif;
    padding:0 3px;
    border:1px solid #333333;
    background:#ffffff;
    margin:2px 2px 0 0;
    float:left;
}


.filters .filter-button {
    text-align:center;
    padding:15px 0;
    margin:15px 0;
    background:url(../../images/bikeapp/groove.png) repeat-x;
}

.filters .filter-button .awesome {
    width:100%;
}

.filters .filter-button .sorry {
    color: white;
	font-size: .9em;
	margin-top: 5px;
	width: 180px;
}

/* checks */

.filters .filteroptions .checks .filter {
    float:left;
    padding:5px 0;
}
.filters .filteroptions .checks span.check {
    float:left;
    display:block;
    width:16px;
    height:16px;
    background:url(../../images/bikeapp/fltr-chck.png) no-repeat 0 -16px;
}
.filters .filteroptions .checks span.check.checked {
    background:url(../../images/bikeapp/fltr-chck.png) no-repeat 0 0px;
}

.filters .checks label {
    display:block;
    line-height:1.2em;
    float:left;
    height:16px;
    margin-left:5px;
}

/* twitter / facebook*/
.filters .facebook, 
.filters .twitter {
    float:left;
    margin-left:5px;
}

.filters .fbtw {
    padding-bottom:20px;
}

.filters .fbtw .label {
    display:block;
    color:#fff;
    padding:3px 0;
}

/* tweetquote */

.tweetquote {
    padding-bottom:20px;
    color:#fff;
}


/****************  main  ***********************/
/* main app */

#bike-app {
    position:relative;
    margin:10px;
    background:url(../../images/bikeapp/balc-rep.jpg) repeat-y #dfdfdf;
    border-bottom:1px solid #b5b5b5;
}

#bike-app.report-accident {
    background-image:none;
    border-bottom:none;
}

#bike-app .inside-bike-app {
    background:url(../../images/bikeapp/pxbd.gif) repeat-y 100% 0;
}

#bike-app .filters {
    width:170px;
    float:left;
    margin-left:15px;
    position:relative;
    z-index:1;
}

#bike-app .application {
    width:739px;
    float:right;
    position:relative;
    z-index:2;
}

/* green report button*/
#bike-app .application .awesome.small.green,
#bike-app.report-accident .awesome.small.green {
    position:absolute;
    right:0;
    top:0px;
    z-index:5;
}

/* tabs */
#bike-app .bike-tabs {
    background:#ffffff;
    margin:0;
    padding:0;
    list-style:none;
}

#bike-app .bike-tabs li {
    position:relative;
    z-index:2;
    margin:0;
    padding:0;
    height:32px;
    display:block;
    float:left;
    background:url(../../images/bikeapp/btn-3.png) no-repeat 0 -131px;
    padding-left:14px;
    margin-right:17px;
}

#bike-app .bike-tabs li a {
    height:22px;
    display:block;
    font-size:10px;
    background:url(../../images/bikeapp/btn-3.png) no-repeat 100% -131px;
    padding-right:14px;
    margin-right:-14px;
    padding-top:10px;
    text-transform:uppercase;
    color:#ffffff;
}

#bike-app .bike-tabs li.current {
    background-position:0 -95px;
}

#bike-app .bike-tabs li.current a {
    background-position:100% -95px;
    color:#000000;
}



/* overlay */
#bike-app .application .overlay {
    background:url(../../images/bikeapp/overlaybg.jpg) repeat-x;
    border:1px solid #b4b4b4;
    border-bottom:0 none;
    height:30px;
}

.overlay h6.legend,
.overlay .filteroptions {
    float:left;
    margin-left:10px;
}

.overlay h6.legend {
    padding:7px 5px 0 5px;
    text-transform:uppercase;
    color:#333333;
    text-shadow:1px 1px 0 #ffffff;
    font-family:helvetica;
    font-size:11px;
}

.overlay .filteroptions {
    margin:2px 0 0 5px;
}

.filteroptions .filter {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    margin:5px 10px 5px 0;
}

.overlay .filteroptions label {
    display:block;
    line-height:1.2em;
    float:left;
    height:16px;
    margin-left:5px;
}

.filteroptions span.check {
    float:left;
    display:block;
    width:16px;
    height:16px;
    background:url(../../images/bikeapp/ba-sprite.png) repeat-x 0 -729px;
}

.overlay .filteroptions .selectmenu select {
    width:100px;
}

.overlay .filteroptions span.check.checked {
    background-position:100% -729px;
}

/* map */

.application .main-body {
    border-top:1px solid #b7b7b7;
}

#filter-results {
	background: #d0e0f0 url(../../images/bikeapp/bg-resultsBar.png) top repeat-x;
	border: 1px solid #6c8fb0;
	font-size: 11.9px;
	font-weight: bold;
	margin: 5px 5px 0;
	padding: 10px;
}

#filter-results-raw {
	background: #d0e0f0 url(../../images/bikeapp/bg-resultsBar.png) top repeat-x;
	border: 1px solid #6c8fb0;
	border-left:0;
	font-size: 11.9px;
	font-weight: bold;
	padding: 10px;
}

.application #accident-map-wrap {
    border:1px solid #989898;
    background:#ffffff;
    margin:5px;
    padding:5px;
    width: 716px; 
    height: 1100px;
}

.application #accident-map {
    width: 100%; height: 100%;
}

/* chart */
#chart-container {
	overflow: hidden;
	height: 520px;
	position: relative;
	margin:5px 5px 0;
	background:#fff;
	border:1px solid #b7b7b7;
	border-bottom:0;
}

#container {
	width: 698px; 
	height: 450px;
	padding: 10px;
}

.more-data {
	padding: 10px;
	margin:0 5px 5px;
	background:url(../../images/bikeapp/top-gradient.gif) repeat-x #fff;
	border:1px solid #b7b7b7;
}

.more-data .col p {
	margin: 5px 0;
	padding:10px;
	border:1px solid #dedede;
	background:#dfdfdf;
	
       -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
            border-radius: 5px; 

}

.more-data p.hed {
	
	font-family: arial;
	font-size: 1.3em;
	font-weight: bold;
}

.more-data p.source {
	
	color: gray;
}

#bike-app .main-add {
	margin:5px;
}

#bike-app .main-add img {
    display:block;
    border:1px solid #989898;
}

/* raw data */
#raw-data {
	overflow: auto;
	height: 1000px;
	width:738px;
	position: relative;
}

.application .pagination {
	width: 698px;
	margin: 5px 0px;
}

#raw-data-table th {
    font-size: 10px;
    padding: 3px 0;
    text-transform: uppercase;
    white-space: nowrap;
    background-color:#42ff73;
	border-width:2px;
	border-color:#999999;
	background-image: -moz-linear-gradient(top, #c2d9ff, #8bb6ff);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#c2d9ff), to(#8bb6ff));
	background-image: -o-linear-gradient(top, #c2d9ff, #8bb6ff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2d9ff', endColorstr='#8bb6ff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2d9ff', endColorstr='#8bb6ff')";
	background-image: linear-gradient(top, #c2d9ff, #8bb6ff);
}

#raw-data td {
    font-size: 11px;
    padding: 2px;
}

#raw-data .white {
	background-color: #ffffff;
}


/* report accident */
.report-accident .two-col.tc2 {
    background:url(../../images/bikeapp/report-grad1.gif) repeat-x;
    margin:0px;
    padding:5px;
    border:1px solid #B5B5B5;
}

.report-accident .two-col.tc2 .c1 {
    border:1px solid #b8b8b8;
    background:#fff url(../../images/bikeapp/report-grad2.gif) repeat-x;
}

.report-accident .c1 .c1pad {
    margin:0 10px 30px 10px;
}

.report-accident .c1pad h1 {
    font-size:24px;
    margin:15px 0;
}
.report-accident .c1pad h2 {
    background:url(../../images/bikeapp/baar-hd.png) repeat-x;
    padding:8px 0 22px 20px;
    color:#fff;
    font-family:"Arial Black",arial;
    font-weight:normal;
    text-transform:uppercase;
    text-shadow:2px 2px 2px #074588;
    position:relative;
    left:-10px;
    width:100%;
}

.report-accident .c1pad h2 span{
    float:right;
    margin-right:10px;
}


.report-accident .c1pad strong.tuwh {
    display:block;
    padding:10px 0;
    color:#0b5b9d;
    font-family:"georgia",serif;
    font-size:14px;
    font-weight:normal;
}

.report-accident .c1pad strong.tuwh em{
    color:#7a8085;
}

.report-accident textarea {
    width:97.5%;
}



.report-button {
    padding:20px 0;
    border:1px dotted #999;
    border-width:1px 0;
}


.report-button .awesome {
    padding:6px 34px 9px;
}

#big-picture {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    margin-left:50px;
    font-weight:bold;
}

.or #big-picture {
    margin-left:20px;
    padding-left:30px;
    background:url(../../images/bikeapp/or.gif) no-repeat 0 50%;
}

#big-picture em {
    font-weight:normal;
    color:#333;
    font-size:12px;
    display:block;
}

.report-accident p.noshare {
    font-size:11px;
    margin:20px 0 40px;
    color:#666666;
}

/* methodology */

.method {
	
	border: 2px solid #D4D4D4;
	padding: 10px;
	background: #666;
}

.method .inner {
	
	background:  white;
	padding: 40px;
	border: 2px solid #D4D4D4;
	
}

.inner .text {
	
	width: 750px;
	text-align: justify;
}

.inner .text h1, h2 {
	
	font-family: sans-serif;
	color: #FF7800;
	margin-bottom: 8px;
}

.inner .text h1 {
	
	border-bottom: 1px dotted #666;
}

.text .intro {
	
	font-size: 1.3em;
	margin-top: 10px;
}


/* col 2*/
.report-accident .two-col.tc2 .c2 {
    width:160px;
    margin-left:5px;
}

/* form styles */

.form-row .formcontrol {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    margin-right:5px;
    position:relative;
}

.form-row .formcontrol .errorlist,
.form-row .formcontrol .errorlist li {
    list-style:none;
    padding:0;
    margin:0;
}

.form-row .formcontrol .errorlist {
    border:1px solid #855;
    color:#fff;
    background:#d99;
    padding:2px 4px;
    position:absolute;
    top:50px;
    font-size:10px;
    left:10px;
       -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
            border-radius: 4px; 

               -moz-box-shadow: 0px 0px 4px #444; 
            -webkit-box-shadow: 0px 0px 4px #444; 
                    box-shadow: 0px 0px 4px #444; 
}

/* thanks - report complete */

.report-accident ul.thanks,
.report-accident ul.thanks li {
    padding:0;
    margin:0;
    list-style:none;
    white-space:nowrap;
}

.report-accident ul.thanks li {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    white-space:normal;
    text-align:center;
    margin:0 35px;
}

.report-accident ul.thanks li a {
    display:block;
    font-size:18px;
    font-weight:bold;
    padding-top:124px;
    background:url(../../images/bikeapp/thanks-map.png) no-repeat 50% 0;
}

.report-accident ul.thanks li.charts a {
    background:url(../../images/bikeapp/thanks-charts.png) no-repeat 50% 0;
}

.report-accident ul.thanks li.raw-data a {
    background:url(../../images/bikeapp/thanks-raw.png) no-repeat 50% 0;
}

.report-accident ul.thanks li a span {
    display:block;
    font-size:13px;
    color:#676767;
    font-style:italic;
    font-weight:normal;
}

/* related content hack */
.report-accident .related-content {
    width:744px;
    margin-left:10px;
    border:0 none;
}

.report-accident .related-content .relatedStories {
    padding:10px 0;
}


/****************  related / discuss  ***********************/

#ba-disc-rel .c1 h3 {
    background:url(../../images/layout/disqus-hd-bg.jpg) repeat-x;
    font-size:18px;
    font-family:helvetica;
    position:relative;
    left:-10px;
}
#ba-disc-rel .c1 h3 em {
    padding:12px 20px 18px 20px;
    background:url(../../images/layout/fade-white-r.png) repeat-y 100% 0;
    display:block;
    font-style:normal;
}
#ba-disc-rel .c1 h3 em img {
    display:inline;
    position:relative;
    bottom:-3px;
    margin-right:6px;
}

/* rightcol */

#ba-disc-rel .c2 h3 {
    border-bottom:1px solid #b4b4b4;
    font-family:helvetica;
    padding:20px 0 10px 0;
}

#ba-disc-rel .c2 .thumb {
    overflow:hidden;
}

