#data-app {
    border:1px solid #b4b4b4;
    border-width:0 1px 1px 1px;
    width:960px;
    margin:0 auto;
    padding-bottom:20px;
    background:url(../../images/bikeapp/lcrep.png) repeat-y 0 0 #ffffff;
    text-align:left;
}

/****************  heading bar  ***********************/

.app-hd {
    background:url(../../images/bikeapp/ba-sprite.png);
    height:52px;
    position:relative;
    z-index:5;
    vertical-align:top;
}

.app-hd a.btn {
    margin:10px;
    background:url(../../images/bikeapp/btn-2.png) no-repeat;
    display:inline-block;
    *display:inline;
    zoom:1;
    padding-left:15px;
    float:left;
}

.app-hd a.btn span {
    display:block;
    height:25px; /* + padding is actual height */
    padding-top:5px;
    background:url(../../images/bikeapp/btn-2.png) no-repeat 100% 0;
    margin-right:-15px;
    padding-right:15px;
    color:#2b2a2a;
    text-shadow:#fff 1px 1px 0;
    position:relative;
}

.app-hd a.btn.dd span {
    padding-right:40px;
}

.app-hd a.btn.dd strong {
    position:absolute;
    display:inline-block;
    *display:inline;
    zoom:1;
    overflow:hidden;
    width:30px;
    height:30px;
    top:0;
    right:0;
    text-indent:-999px;
    background:url(../../images/bikeapp/ba-sprite.png) 100% -59px;
}

/* hovers */
.app-hd a.btn:hover,
.app-hd a.btn:focus {
    outline:0;
    background-position:0 -31px;
}
.app-hd a.btn:hover span,
.app-hd a.btn:focus span {
    background-position:100% -31px;
}
/* presses */
.app-hd a.btn:active{
    background-position:0 -62px;
}
.app-hd a.btn:active span {
    background-position:100% -62px;
}

/* header text */
.app-hd .info {
    background:url(../../images/bikeapp/ba-sprite.png) no-repeat 0 -78px;
    padding-left:20px;
    margin-left:20px;
    display:inline-block;
    *display:inline;
    zoom:1;
    height:35px;
}

.app-hd .info {
    background-position:0 -88px;
    height:25px;
    float:left;
    margin-top:10px;
    font-size:24px;
    line-height:1em;
    color:#306991;
    text-shadow:1px 1px 0px #fff; 

}
.social-links {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 14px 0 0 0;
}
.social-links div {
	display: inline;
	vertical-align: top;
}

/****************  app select menu  ***********************/
#da-select-menu {
    display:inline-block;
    *display:inline;
    zoom:1;
    position:relative;
    float:left;
}

#da-select-menu ul {
    margin:0;
    padding:0;
    list-style:none;
    background:#E3EBED;
    border:1px solid #94B9D1;
    position:absolute;
    left:25px;
    top:38px;
       -moz-box-shadow: 0px 1px 2px #333; 
    -webkit-box-shadow: 0px 1px 2px #333; 
            box-shadow: 0px 1px 2px #333; 
    display:none;
}

#da-select-menu ul li {
    margin:0;
    padding:0;
    list-style:none;
}

#da-select-menu ul li a {
    display:block;
    padding:4px 10px;
    white-space:nowrap;
}

#da-select-menu ul li a:hover {
    background:#CDE1F1;
}

/* table sorting icons */
.headerSortUp {
	padding-left: 5px;
	padding-right: 15px;
}
.headerSortDown {
	width: 7px;
	height: 6px;
}

.headerSortUp a {
	background: url(../../images/bikeapp/sortUp.png) #C3D9FF no-repeat 98% 50%;
}

.headerSortDown a {
	background: url(../../images/bikeapp/sortDown.png) #C3D9FF no-repeat 98% 50%;
}

.header a {
    padding:7px 0;
	padding-left: 5px;
	padding-right: 15px;
    display:block;
}
