/**************** custom font *******************/

/* app title graphic */
#app-title {
	height: 33px;
	margin: -4px 0 0 0;
	padding: 0;
	position: absolute;
	top: 18px;
	font-size: 18px;
}

/****************  left column  ***********************/
/* date view list */
#rs-left {
    margin-top:-2px;
    width:200px;
    position:relative;
}

#rs-left ul {
    border-bottom:1px solid #C9CACC;
}

#rs-left ul,
#rs-left ul li {
    list-style:none;
    padding:0;
    margin:0;
    position:relative;
}

/* repeating bg in the li */
#rs-left ul li {
    background:url(../../images/readingseries/rs-sprite1.png) repeat-x 0 -117px;
    list-style:none;
    padding:0;
    margin:0;
    height:54px;
    width:200px;
    z-index:1;
}

#rs-left ul li:hover {
    background-position:0 -505px;
}

#rs-left ul li a {
    background:url(../../images/bikeapp/nc-rep.png) repeat-y 100% 0;
    display:block;
    color:#0063ae;
    font-weight:bold;
    position:relative;
    z-index:1;
}

/* icons on the strong tag */
#rs-left ul li strong {
    height:36px;
    width:150px;
    padding:18px 0 0 50px;
    display:block;
    background:url(../../images/readingseries/rs-sprite1.png) no-repeat 0 -173px;
}

#rs-left ul a.intro strong {
    background-position:0 -173px;
}

#rs-left ul a.play strong {
    background-position:0 -227px;
}

#rs-left ul a.pick strong {
    background-position:0 -282px;
}

#rs-left ul a.scan strong {
	background-position: 0 -338px;
}

#rs-left ul a.submit strong {
	background-position: 0 -388px;
}

/* style the <a> to cover the li background */
#rs-left ul li.current a {
    border-top:1px solid #C9CACC;
    background:url(../../images/bikeapp/c-rep.png) repeat-x 0 100% #ffffff ;
    color:#000000;
    z-index:2;
}

/* let the current li sit over the not-current ones */
#rs-left ul li.current {
    z-index:2;
}

/* ad space */
#rs-left .addspace {
    margin:10px 0 0 10px;
}

/****************  main app  ***********************/
#rs-right {
    float:right;
    width:748px;
    margin:14px 12px;
    background: url(../../images/readingseries/rs-bgPaper.png) repeat-y;
	font-family: 'AndikaBasicRegular', Helvetica, sans-serif;
	font-size-adjust: .5;
	position: relative;
	min-height: 340px;
}

/* index pg peekaboo info window stylin' */

.logoTitle {
	text-indent: -9999em;
	background: url(../../images/bikeapp/titleLogo.png) no-repeat;
	height: 30px;
	width: 435px;
	margin: 0 0 20px 0;
}
#introCopy {
	border: 1px solid #c9cacc; 
	margin: 0 0 15px 0;
}
#introCopy #introCopy-c {
	background-color: #fafbda; 
	border: 2px solid #ecedcf; 
	padding: 10px;
}
#introCopy h1 {
	font-size: 1.8em;
	font-family: sans-serif;
	margin-bottom: 10px;
}
#introCopy ul {
	float: right; 
	width: 300px; 
	margin: 20px 0 0 40px;
	border-left: 1px solid #c9cacc;
	padding-left: 40px;
}

#hide-c {
    text-align:right;
	clear:both;
    padding:10px 0;
}

#hide {
    background:url(../../images/bikeapp/info.png) no-repeat 100% 0;
    padding:3px 20px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/****************  home index styles  ***********************/
.index h1 {
	font-size: 25px;
	font-weight: bold;
	font-family: Georgia, serif;
	font-size-adjust: .5;
	margin-bottom: 10px;
}

/****************  pick your prose splash page  ***********************/
.pyp-splash h1 {
    font-family: 'AndikaBasicRegular',Helvetica,sans-serif;
    font-size: 36px;
    font-size-adjust: 0.5;
    font-weight: bold;
    text-align: center;
}
.pyp-splash p {
    color: #000000;
    font-family: 'AndikaBasicRegular',Helvetica,sans-serif;
    font-size: 20px;
    font-size-adjust: 0.5;
    font-weight: normal;
    line-height: 25px;
    text-align: center;
}
.pyp-splash .container { 
	position: relative;
	height: 622px;
}
.pyp-splash span {
	text-indent: -9999em;
	display: block;
}
.pyp-splash .category-icon {
	margin: 0 20px;
	display: block;
}
.pyp-splash #pyp-east-bay {
	position: absolute;
	top: 7px;
	left: 20px;
}
.pyp-splash #pyp-free{
	position: absolute;
	top: 27px;
	left: 259px;
}
.pyp-splash #pyp-free-booze {
	position: absolute;
	top: 53px;
	right: 17px;
}
.pyp-splash #pyp-live-music{
	position: absolute;
	left: 20px;
	top: 204px; 
}
.pyp-splash #pyp-non-fiction {
	position: absolute;
	left: 259px;
	top: 195px;
}
.pyp-splash #pyp-open-mics {
	position: absolute;
	right: 28px;
	top: 181px;
}
.pyp-splash #pyp-other-bay-area {
	position: absolute;
	left: 20px;
	top: 336px;
}
.pyp-splash #pyp-san-francisco {
	position: absolute;
	left: 259px;
	top: 357px;
}
.pyp-splash #pyp-star-sightings {
	position: absolute;
	right: 20px;
	top: 365px;
}
.pyp-splash #pyp-xxx-rated {
	position: absolute;
	left: 20px;
	top: 553px;
}

/****************  pick your prose listing page  ***********************/
/* category picker menu*/

/****************  category select menu  ***********************/
/* button part */

#event-catagory-menu a.btn {
    background:#f2f3af;
    display:inline-block;
    *display:inline;
    zoom:1;
    padding-left:15px;
    position:absolute;
    top:-15px;
    left:0;
    white-space:nowrap;
    z-index:2;
    border:1px solid #f8f9d0;
       -moz-box-shadow: 1px 1px 1px #999; 
    -webkit-box-shadow: 1px 1px 1px #999; 
            box-shadow: 1px 1px 1px #999; 
}

#event-catagory-menu a.btn span {
    display:block;
    height:22px; /* + padding is actual height */
    padding-top:7px;
    background:#F2F3AF;
    font-family:helvetica,sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    text-shadow:1px 1px 0px #ffffea;
    color:#929728;
    font-size:12px;
    position:relative;
}

#event-catagory-menu a.btn.dd span {
    padding-right:40px;
}

#event-catagory-menu a.btn.dd strong {
    position:absolute;
    display:inline-block;
    *display:inline;
    zoom:1;
    overflow:hidden;
    width:30px;
    height:30px;
    top:0;
    right:0;
    text-indent:-999px;
    background:url(../../images/readingseries/dd-arrow.png) 0 50% no-repeat;
}

/* hovers */
#event-catagory-menu a.btn:hover,
#event-catagory-menu a.btn:focus {
    outline:0;
}
#event-catagory-menu a.btn:hover span,
#event-catagory-menu a.btn:focus span {

}
/* presses */
#event-catagory-menu a.btn:active{

}
#event-catagory-menu a.btn:active span {

}


/* dropdown part */

#event-catagory-menu ul {
    margin:0;
    padding:0;
    list-style:none;
    background:#dde099;
    border:1px solid #c7c4bb;
    position:absolute;
    left:0px;
    top:15px;
       -moz-box-shadow: 1px 1px 1px #dedede; 
    -webkit-box-shadow: 1px 1px 1px #dedede; 
            box-shadow: 1px 1px 1px #dedede; 
    display:none;
    z-index:1;
}

#event-catagory-menu ul li {
    margin:0 0 5px 0;
    padding:0;
    list-style:none;
    height: 32px;
}

#event-catagory-menu ul li a {
    display:block;
    padding:4px 10px;
    white-space:nowrap;
    font-family:helvetica,sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    color:#868a3c;
    height: 32px;
}

#event-catagory-menu ul li a span {
	margin-top: 8px;
	display: inline-block;
    *display:inline;
    zoom:1;
}

#event-catagory-menu ul li a img {
	margin: 0 7px 0 0; 
	padding: 0;
}

#event-catagory-menu ul li a:hover {
    background:#f2f5ae;
    height: 32px;
}

/* end menu */


.pyp-list h1 {
	font-size: 34px;
	font-weight: normal;
	font-family: 'AndikaBasicRegular', Helvetica, sans-serif;
	font-size-adjust: .5;
	text-align: center;
	margin-bottom: 10px;
}
.pyp-list .leadart {
	display: block;
	text-align: center;
	margin: 20px;
}
.pyp-list .event-item {
	border-bottom: 1px solid #a3a3a3;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-family: "Helvetica", sans-serif;
	font-size: 13px;
	line-height: 18px;
}
.pyp-list.landing .event-item {
	margin-top: 20px;
}
.event-item .event-title {
    width:80%;
    line-height:1em;
	display: block;
	font-family: "Georgia", serif;
	font-size: 24px;
	font-weight: bold;
	float: left;
	margin-bottom: 4px;
	line-height: 28px;
}
.event-item .event-icons img {
	
}
.event-item .event-website {
	display: inline;
}
.pyp-list.landing .event-item .event-website {
	display: inline;
}
.event-item .event-description {
	display: block;
	margin: 15px 0;
	font-size: 14px;
}
.event-item .who {
	margin-bottom: 15px;
}
.event-item .who span {
	font-size: 14px;
	font-weight: bold;
	display: block;
}
.event-item table {
	margin: 0;
}
.event-item table, td, th {
	vertical-align: top;
}
.event-item th, td, caption {
	padding: 0;
}
.event-item th {
	font-size: 14px;
	background: none;
}
.pyp-list #pyp-east-bay {
	position: relative;
	top: 16px;
	height: 165px;
}
.pyp-list #pyp-free {
	position: relative;
	top:2px;
	height: 99px;
}
.pyp-list #pyp-free-booze {
	position: relative;
	top: -6px;
	height: 43px;
}
.pyp-list #pyp-live-music {
	position: relative;
	top: -8px;
	height: 85px;
}
.pyp-list #pyp-non-fiction {
	position: relative;
	top: 0;
	height: 94px;
}
.pyp-list #pyp-open-mics {
	position: relative;
	top: 2px;
	height: 142px;
}
.pyp-list #pyp-other-bay-area {
	position: relative;
	top: 5px;
	height: 173px;
}
.pyp-list #pyp-san-francisco {
	position: relative;
	top: -8px;
	height: 123px;
}
.pyp-list #pyp-star-sightings {
	position: relative;
	top: 0;
	height: 114px;
}
.pyp-list #pyp-xxx-rated {
	position: relative;
	top: 0;
	height: 40px;
}
/****************  games  ***********************/

.reading-questions {
    width:671px;
    height:446px;
    background:url(../../images/readingseries/questions-bg.jpg);
    position:relative;
}

.reading-questions .steps {
    text-align:center;
    position:absolute;
    top:1px;
    left:230px;
    font-family:helvetica,sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    text-shadow:1px 1px 0px #ffffff;
    color:#94974f;
    font-size:13px;
    width:204px;
    height:30px;
    background:url(../../images/readingseries/nextback.png);
}

.reading-questions .steps a {
    display:inline-block;
    *display:inline;
    zoom:1;
    height:25px;
    width:30px;
    vertical-align:middle;
    overflow:hidden;
    text-indent:-999px;
}

.reading-questions .steps a.prev {
    float:left;
}
.reading-questions .steps a.next {
    float:right;
}

.reading-questions .steps span {
    padding:5px 0;
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
}

.reading-questions form {
    position:absolute;
    top:125px;
    left:0;
    width:100%;
    text-align:center;
}

.reading-questions ul,
.reading-questions ul li {
    list-style:none;
    padding:0;
    margin:0;
}

.reading-questions ul li {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:bottom;
    margin:0 20px;
    min-width:140px;
}

.reading-questions ul li input {
    display:none;
}

.reading-questions ul li label img {
    display:inline;
    clear:both;
}

.reading-questions ul li label {
    display:block;
    padding-bottom:75px;
    background:url(../../images/readingseries/q-select.jpg) no-repeat 50% 100%;
    cursor:pointer;
}

.reading-questions .question {
	color: #000000;
    display: block;
    font-family: Georgia, serif;
    font-size: 32px;
    left: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100%;
}
/****************  game splash  ***********************/
.index #howtoplay {
    font-size: 15px;
    left: 555px;
    position: absolute;
    top: 420px;
    width: 180px;
}
.index #howtoplay h1 {
	margin-bottom: 10px;
}
.reading-questions.index #home-image {
    position:absolute;
    top:28px;
    left:20px;
}

.reading-questions.index p {
    color: #000000;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.reading-questions.index h1 {
    color:#742c91;
    margin-bottom:20px;
}

.pyp-list .tier-label {
	background: none repeat scroll 0 0 #ECF092;
    border: 1px solid #B2B2B2;
    color: #705F19;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0 12px;
}
#fb-comments {
	
}
