#add-your-comments {
    clear:both;
    position:relative;
}

#add-your-comments .formcontrol textarea {
    width:530px;
    height:280px;
}

#add-your-comments .formcontrol button {
    float:right;
}