{% extends "immunizations/immunizations_base.html" %}
{% block page_title %}{{page_title}} - The Bay Citizen{% endblock %}
{% block meta %}
    <link rel="canonical" href="{% url immunizations_index %}" />
{% endblock %}

{% block internal_css_includes %}
	{{block.super}}
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript">
    $(document).ready(function() {

    });
    </script>
{% endblock %}
{% block content %}

	<div id="immunization" class="bd-base">
		{% block header_menu %}
			{{block.super}}
		{% endblock %}
		<div class="main-column col">
			<section class="pad">
                <h2 class="bigteal">Are parents in your area vaccinating their kids?</h2>
                <p>
                To show how many Bay Area kindergartners were up to date with their shots at the start of the 2010-11 school year, and how many parents opted out, we compiled this data from the California Department of Public Health.
                </p>
                <p>
                Browse the table of cities below to get an idea of how many parents are vaccinating.  By clicking on the name of a city or county, you can view all immunization data for schools inside the region.
                </p>
				{% include 'immunizations/partials/bythenumbers.html' %}
				{% include 'immunizations/partials/school_search.html' %}
				{% include "immunizations/partials/raw_table_cities.html" %}
			</section>
    {% block fb_comments %}                                                                          
        {{block.super}}                                                                              
    {% endblock %}
		</div>
		<div class="right-column col">
    	    <div class="pad">
    			{% include "immunizations/partials/stat.html" %}
    			{% include "immunizations/partials/search.html" %}
    			{% include "immunizations/partials/accordian.html" %}
    			{% include "immunizations/partials/glossary.html" %}
    		</div>
		</div>
	</div>
{% endblock %}
