{% extends "layouts/base.html" %}
{% block maincontainer %}
    <!-- main container -->
    <div class="column clear full mainContain" id="wide">
        {% block content %}
            <div class="fixed main">
                
	                <!-- left column -->
	                {% block content_column %}
	                {% endblock %}
	                <div class="clear"></div>

             </div>
            <!-- end left column -->                
        {% endblock %}
    </div>
    <!-- end main container -->
{% endblock %}