<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block meta_medium %}<meta name="medium" content="news" />{% endblock %}
		{% block meta %}{% endblock %}
        <title>{% block page_title %}The Bay Citizen{% endblock %}</title>
        {% if not request.COOKIES.let_me_in %}
            <!--script type="text/javascript" src="{{ MEDIA_URL }}js/ie6.js"></script-->
        {% endif %}
		
        <link rel="stylesheet" charset="utf-8" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}js/jquery.fancybox/jquery.fancybox.css" />
        {% block css %}{% endblock %}

		<link rel="shortcut icon" href="{{ s3_common_url }}images/favicon.ico" type="image/x-icon" />
		<!--[if IE 8]>
		<link rel="stylesheet" charset="utf-8" type="text/css" href="{{ MEDIA_URL }}css/ie8.css" />
		<![endif]-->

        <!--[if IE 7]>
		<link rel="stylesheet" charset="utf-8" type="text/css" href="{{ MEDIA_URL }}css/ie7.css" />
		<![endif]-->
		
		<script src="http://www.google.com/jsapi" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">google.load("jquery","1.4.2");google.load("jqueryui", "1.7");</script>
        {% block extra_head %}{% endblock %}
    </head>
    
    <body>
        <div id="header">
            <div class="logo"><a id="texas_tribune_logo" href="/"><img src="{{ MEDIA_URL }}images/citizen.jpg"></a></div>
            {% block publish_date %}<p class="current_date">{% now "l, F j, Y" %}</p>{% endblock %}
        </div>
	    
	    <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>        
        
		{% block external_js %}{% endblock %}                
        <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>
