#census2010-base {
    border:1px solid #b4b4b4;
    border-width:0 1px 1px 1px;
    width:960px;
    margin:0 auto;
    text-align:left;
    background: #ffffff;
}
#app-title {
    margin-top:0px;
    font-size:24px;
}
#left-col {
	float: left;
	width: 618px;
}
#right-col {
	float: right;
	width: 308px;
	margin-top: 25px;
}
#census2010-base h2 {
	margin-bottom: 10px;
	width: 600px;
}
#census2010-base #breadcrumb {
	list-style: none;
	margin: 0 0 7px 0;
	padding: 0;
}
#census2010-base #breadcrumb li {
	display: inline;
	font-size: 12px;
}
#census2010-base #breadcrumb li.label {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #333333;
}
#census2010-base #breadcrumb a {
	margin: 2px;
}
#list-page {
	margin: 10px;
}
#detail-page {
	margin: 10px;
}
#census2010-base #map {
	width: 616px;
	border: 1px solid #b4b4b4;
	margin: 0 0 20px 0;
	-moz-border-radius: 5px 5px 0 0; 
	-webkit-border-radius: 5px 5px 0 0; 
	border-radius: 5px 5px 0 0;	
	-moz-box-shadow: 0px 2px 4px #b4b4b4; 
	-webkit-box-shadow: 0px 2px 4px #b4b4b4; 
	box-shadow: 0px 2px 4px #b4b4b4; 
}
#map #titlebar {
	background: url(../../images/census2010/map-titlebar-bg.png) repeat-x;
	height: 32px;
	width: 100%;
	-moz-border-radius: 5px 5px 0 0; 
	-webkit-border-radius: 5px 5px 0 0; 
	border-radius: 5px 5px 0 0;	
}
#map #navigation {
	margin: 0 0 0 9px;
	list-style: none;
	padding: 0;
	height: 32px;
	background: url(../../images/census2010/map-titlebar-compass.png) no-repeat center left;
	font-size: 13px;
	font-weight: bold;
	color: #696969;
	text-shadow: 0px 1px 1px #ffffff;
	padding-left: 24px;
	float: left;
}
#map #navigation li {
	padding: 0;
	display: block;
	height: 33px;
	vertical-align: middle;
	float: left;
}
#map #navigation li.active {
	background:	url(../../images/census2010/map-nav-active.png) repeat-x;
}
#map #navigation li:hover {
	background: url(../../images/census2010/map-nav-hover.png) repeat-x;
}
#map #navigation li.active:hover {
	background:	url(../../images/census2010/map-nav-active.png) repeat-x;
}
#map #navigation a {
	background: url(../../images/census2010/map-nav-activediv.png) no-repeat top right;
	color: #696969;
	display: block;
	padding: 6px 10px 0 10px;
	height: 30px;
}
#map #navigation li.active a {
	background: url(../../images/census2010/map-nav-activediv.png) no-repeat top right;
	color: #696969;
	display: block;
	padding: 6px 10px 0 10px;
	height: 30px;
}
#map #controls {
	display:block;
	margin: 6px 10px 32px 165px;
	text-align: right;
	text-shadow: 0 1px 1px #ffffff;
    color: #333333;
    font-size: 11px;
}
#map #controls label {
    float: left;
    height: 16px;
    line-height: 1em;
    margin-right: 10px;
    padding-top: 2px;
    color: #333333;
    text-shadow: 0px 1px 1px #ffffff;
    font-size: 11px;
}
#map #controls select {
	*margin-top: -1px;
}
#map #controls span.check {
	background: url("http://media.baycitizen.org/images/bikeapp/ba-sprite.png") repeat-x scroll 0 -729px transparent;
    display: block;
    float: left;
    height: 16px;
    width: 16px;
}
#map #controls span.check.checked {
    background-position:100% -729px;
}
#map #quick_info {
	background: url(../../images/census2010/map-quickinfo-bg.png) no-repeat left bottom;
	width: 596px;
	height: 32px;
	padding: 8px 10px 10px 10px;
	text-shadow: 0 1px 1px #ffffff;
}
#map #quick_info #pre-click {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #c1c1c1;
	vertical-align: middle;
	text-align: center;
	margin-top: 7px;
}
#map #quick_info .pagelink {
	float: right;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	font-size: 10px;
}
#map #quick_info h4 {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0063ae;
	margin: 0;
	padding: 0;
}
#map #quick_info ul {
	margin: -2px 0 0 0;
	padding: 0;
	list-style: none;
}
#map #quick_info li {
	display: inline;
	margin: 0 10px 0 0;
	font-size: 11px;
	font-weight: bold;
	color: #7e7e7e;
	text-transform: uppercase;
}
#map #quick_info li span {
	font-weight: normal;
	color: #015d9c;
	text-transform: none;
}
#map #quick_info li span.black {
	color: #000000;
	font-weight: bold;
}
#map #map-display {
	margin: 5px;
	width: 606px;
	height: 418px;
}
#map #map-legend {
	margin: 5px;
	width: 606px;
	text-align: center;
}
#census2010-base h3 {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 3px 0;
	padding: 0;
	text-shadow: 0px 1px 1px #ffffff;
}
#pop-overview {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0 0 6px 0;
	border-bottom: 1px dotted #b4b4b4;
}
#pop-overview li {
	display: inline;
	padding-right: 10px;
	color: #333333;
	font-size: 11px;
	text-transform: uppercase;
}
#pop-overview li span {
	font-weight: bold;
	color: #333333;
}
#census2010-base span.up {
	background: url(../../images/census2010/icon-up.png) no-repeat left;
	width: 10px;
	height: 8px;
	padding-left: 12px;
}
#census2010-base span.down {
	background: url(../../images/census2010/icon-down.png) no-repeat left;
	width: 10px;
	height: 8px;
	padding-left: 12px;
}
span.filter {
	float: right;
	font-size: 11px;
	color: #333333;
}
span.filter select {
	margin: 0 0 0 5px;
}
#census2010-base #list-page table thead th {
	width: 25%;
}
#census2010-base #detail-page table thead th {
	width: 16.6%;
}
#census2010-base #left-col table {
	margin: 10px 0 0 0;
	border: 1px solid #b4b4b4;
}
#census2010-base #left-col table thead th {
	background-color: #e5f3fc;
	background-image: url("http://media.baycitizen.org/images/icons/bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#census2010-base #left-col table tr.even td {
	background-color: #f7f7f7;
}
#census2010-base #left-col table td.text-right {
	text-align: right;
}
#census2010-base #left-col table thead th.headerSortUp {
    background-image: url("http://media.baycitizen.org/images/icons/asc.gif");
    background-color: #fcfce5;
}
#census2010-base #left-col table thead th.headerSortDown {
    background-image: url("http://media.baycitizen.org/images/icons/desc.gif");
    background-color: #fcfce5;
}
#census2010-base #discuss-title {
	background: url("../../images/census2010/discussion-bg.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 40px;
    margin: 20px 0 0 -10px;
    padding: 16px 0 0 45px;
    width: 618px;
    color: #005e9f;
}
#census2010-base #right-col .c-module {
	border: 1px solid #b4b4b4;
	margin-bottom: 20px;
}

#census2010-base #right-col .c-module span {
	display: block;
	padding: 3px;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-transform: uppercase;
	background-color: #e5f3fc;
}
#census2010-base #right-col .c-module span.compare {
	display: inline-block;
	margin:  5px;
	padding: 2px 7px 1px;
	*display: inline;
	zoom: 1;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px;
	background-color: #f7f7f7;
	border: 1px solid #b4b4b4;
}
#census2010-base #right-col .c-module .c-content {
	margin: 3px;
}
#census2010-base #right-col .c-module .c-content ul {
	list-style-type: square;
    margin: 5px 18px 0;
    padding: 0;
}
#census2010-base #right-col .c-module .c-content ul li {

}
#census2010-base #disqus {
	margin-top: 4px;
}
