/**************** custom font *******************/
#data-app {
	background: #F1F0ED;
}

#wrapper {
	position: relative;
}

#leftcol {
	background: url(../../images/film-fest/layout/bg-bars.png) #ffffff repeat-y 0 0;
	border: 1px solid #d8d7d3;
	border-left: none;
	padding: 0 20px 20px 20px;
	width: 483px;
	float: left;
}
#rightcol {
    position: absolute;
    right: 0;
    width: 437px;
}

#rc-wrapper {
	position: absolute;
	margin-top:50px;
	top: -50px;
	background-color: #ffffff;
	padding: 0 0 10px 0;
	width: 437px;
	height: 594px;
	border: 1px solid #d8d7d3;
	border-left: none;
	border-top: none;
}
#rc-wrapper.fixed {
	position: fixed;
	top: 0;
}
#rc-wrapper.bottom {
	position: absolute;
	top: 910px;
}
#rc-wrapper #recommendations-title {
	margin: -9px 0 0 -11px;
	
}
#films {
	width: 437px;
	overflow: auto;
	height: 300px;  
	text-align: center;
}
#intro {
	margin: 0 0 20px 0;
	background: url(../../images/film-fest/layout/bg-header3.png) no-repeat 0 0 #ffffff;
	padding: 20px;
	-moz-box-shadow: 0px 0px 5px #b1b0ab; 
	-webkit-box-shadow: 0px 0px 5px #b1b0ab; 
	box-shadow: 0px 0px 5px #b1b0ab;
	position: relative;
}

.quiz-title {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 31pt;
	font-weight: normal;
}

.top {
	border-top: 7px solid #333;
	padding-top: 10px;
	margin-top: 30px;
}

.tm {
	
	vertical-align: top;
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 30px;
}


#save_reuslts {
    margin: 15px 0 0;
    padding: 35px 10px 0 0;
    background: url(../../images/film-fest/layout/bg-saveemail.png) no-repeat top;
}
.title-sub {
	font-size: 18pt;
	font-weight: bold;
}
.intro-text {
	
	margin-top: 10px;
}
.intro-text p {
	font-family: georgia;
	font-size: 11pt;
	color: #222222;
	margin: 12px 0px;
}
.intro-text .disclaimer {
	font-style: italic;
	color: #666666;
	font-size: 13px;
}
.section {
	color: #38953b;
	font-size: 10px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
.instruction {
	font-size: 14px;
	font-family: Georgia, serif;
	font-style: italic;
}
.question {
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 0 20px;
	margin: 15px 0;
}
.qwrap {
	margin: 15px 0;
	padding-bottom: 15px;
	border-bottom: 1px dotted #b4b4b4;
}
.question-type {
	font-size: 9pt;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 2px;
	padding-top: 3px;
	color: #E8280E;
}
.question-text p {
	display: block;
	margin: .1em 0 .25em 0;
	font-size: 10pt;
	margin-bottom: 10px;
	font-weight: bold;
}
.awrap {
	background: url(../../images/film-fest/layout/bg-pattern.png) repeat-y top left;
	padding: 10px;
	border: 2px solid #649d66;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
}
.answer {
	margin: 0 0 10px 0;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	color: #649d66;
	position: relative;
}
.answer input {
	display: inline;
	float: left;
}
.answer span {
    display: inline-table;
    margin-left: 32px;
    width: 402px;
}

p.instrux {
	color: #666;
	font-weight: lighter;
}
#forms{
	border-top: 7px solid #333333;
}
#errors{
	position:absolute;
	height:30px;
	width: 150px;
	top: 0px;
	right: 0;
}
.single_image{
	padding: 2px 2px 2px 2px;
	display: inline-block;
}
.inline{
	display: inline;
}
.dropdown-wrap {
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #649D66;
    display: table;
    float: right;
    margin: 40px 0 100px 20px;
    padding: 10px;
    width: 395px;
	-moz-box-shadow: 0px 1px 2px #d3d3d3; 
	-webkit-box-shadow: 0px 1px 2px #d3d3d3; 
	box-shadow: 0px 1px 2px #d3d3d3; 
}
.dropdown-wrap .title {
    -moz-border-radius: 5px 5px 0 0;
    background: none repeat scroll 0 0 #DFECDF;
    color: #629D64;
    font-size: 1em;
    font-weight: bold;
    margin: -10px -10px 10px;
    padding: 5px 5px 5px 10px;
}
.submit-email {
	margin: 10px 0 0 0;
	padding: 10px;
	background: #dfebe0;
	color: #689d64;
	font-weight: bold;
}
.submit-email #email {
	border-color: #689d64;
	padding: 5px;
	font-size: 12px;
	width: 200px;
	margin: 0 5px 0 10px;
}

/**************** category page *******************/

.category-picker {
    background: none repeat scroll 0 0 #EFEFEF;
    float: right;
    border: 1px solid #B4B4B4;
    display: table;
    padding: 10px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	margin: 20px 20px 0 15px;

}

/**************** listings *******************/

.film_entry {
	border-bottom: 1px dotted #b4b4b4;
	padding: 15px;
	position: relative;
	background: #ffffff;
}
.film_entry .ticket-info {
	position: absolute;
	top: 165px;
	left: 20px;
}
.film_entry img {
	float: left;
	background: #ffffff;
	padding: 7px;
	border: 1px solid #b4b4b4;	
	-moz-box-shadow: 0px 1px 2px #b4b4b4; 
	-webkit-box-shadow: 0px 1px 2px #b4b4b4; 
	box-shadow: 0px 1px 2px #b4b4b4; 

}
.film_entry .wrapp {
	margin-left: 230px;
}

.film_entry h1 {
	font-size: 1.8em;
}
.venue {
	font-size: 14px;
	font-weight: bold;
}
table.showings td {
    background: none repeat scroll 0 0 #f7f6f3;
    display: inline-block;
    padding: 10px;
    margin-right: 3px;
    border: 1px solid #e5e4e1;
    *display:inline;
    *zoom:1;
}
/* app title graphic */


#app-title {
	height: 33px;
	margin: -4px 0 0 0;
	padding: 0;
	position: absolute;
	top: 18px;
	font-size: 18px;
}
.awesome, .awesome:visited {
	padding: 4px 9px;
}
#status_msg.error {
	background: #fbe3e3;
	border-top: 1px dotted #d28181;
	padding: 10px;
	margin-top: 10px;
	border-bottom: 1px dotted #d28181;
	color: #9e2020;
	font-style: italic;
	position: relative;
}
#status_msg.success {
	background: #dff0d8;
	color: #2e591e;
	border-top: 1px dotted #689955;
	padding: 10px;
	margin-top: 10px;
	border-bottom: 1px dotted #689955;
	font-style: italic;
	position: relative;
}

/**************** award *******************/

.awards {
	
	padding: 20px;
}

.awards .top {
	
	background: white;
	border-bottom:solid 5px gray;
	padding: 20px;
	font-size: 1.1em;
}

.top span {
	
	color: #39853b;
	font-weight: bold;
}


