{% extends "rankedchoice/rankedchoice_base.html" %}
{% block page_title %}{{page_title}} - The Bay Citizen{% endblock %}

{%block css%}
    {{block.super}}
    <style type='text/css'>
        p{
            font-size: 16px;
            display: inline-block;
            margin: 20px 20px 0px 20px;
            *display: inline;
            zoom: 1;
            vertical-align: top;
        }
        h1{
            display: inline-block;
            margin: 20px 20px 0px 20px;
            *display: inline;
            zoom: 1;
            vertical-align: top;
        }

    </style>
{% endblock %}

{% block content %}
    <div class='bd-base'>
        <h1>Science of Voting Ballot Entry</h1>
        <br/>
        <p>
            Thanks for voting for:<br/>
            1.{{ballot.choice_one.name}}<br/>
            2.{{ballot.choice_two.name}}<br/>
            3.{{ballot.choice_three.name}}<br/>
        </p>
        <p>
            <a href="{% url rankedvotes_new_ballot 'science-of-voting' %}">Click here to vote again.</a>
        </p>
    </div>
{% endblock%}
