{% extends "immunizations/immunizations_base.html" %}
{% block page_title %}{{page_title}} - The Bay Citizen{% endblock %}
{% block meta %}
    <link rel="canonical" href="{% url immunizations_index %}" />
{% endblock %}

{% load generic_tags humanize %}

{% block internal_css_includes %}
	{{block.super}}
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript">
    $(document).ready(function() {
    });
    </script>
{% endblock %}

{% block content %}

<div id="immunization" class="bd-base">
    {% block header_menu %}
        {{block.super}}
    {% endblock %}

    <br>

    <div class="main-column col">
        <div class="pad">
        <h2 class="bigteal">Search Results</h2>
        <p>What percent of kindergartners were fully immunized by the start of the 2010-11 school year, on average, in each school? How many kindergartners' parents opted out? Click column name to sort.</p>
        <table class="schoolresults raw-table-data">
        <thead>
            <tr>
                <th><a href="?q={{query|urlencode}}&order={% ifequal order '-county' %}county{% else %}-county{% endifequal %}" class="{% simple_sort order "county" %}">County</a></th>
                <th><a href="?q={{query|urlencode}}&order={% ifequal order '-city' %}city{% else %}-city{% endifequal %}" class="{% simple_sort order "city" %}">City</a></th>
                <th><a href="?q={{query|urlencode}}&order={% ifequal order '-district' %}district{% else %}-district{% endifequal %}" class="{% simple_sort order "district" %}">District</a></th>
                <th><a href="?q={{query|urlencode}}&order={% ifequal order '-school' %}school{% else %}-school{% endifequal %}" class="{% simple_sort order "school" %}">School</a></th>
                <th><a href="?q={{query|urlencode}}&order={% ifequal order '-type' %}type{% else %}-type{% endifequal %}" class="{% simple_sort order "type" %}">School Type</a></th>
                <th class="rightAlign"><a href="./?q={{query|urlencode}}&order={% ifequal order '-percent_up_to_date' %}percent_up_to_date{% else %}-percent_up_to_date{% endifequal %}" class="{% simple_sort order "percent_up_to_date" %}">Up-to-date immunization rate</a></th>
                <th class="rightAlign"><a href="./?q={{query|urlencode}}&order={% ifequal order '-percent_pbe' %}percent_pbe{% else %}-percent_pbe{% endifequal %}" class="{% simple_sort order "percent_pbe" %}">Personal belief exemption rate</a></th>
                <th class="rightAlign"><a href="./?q={{query|urlencode}}&order={% ifequal order '-enrollment' %}enrollment{% else %}-enrollment{% endifequal %}" class="{% simple_sort order "enrollment" %}">Kindergarten enrollment</a></th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><a href="{% url locations_county_show row.school.county.slug 'immunizations' %}">{{row.school.county.name|title}}</a></td>
                    <td><a href="{% url locations_city_show row.city.slug 'immunizations' %}">{{row.city.name|title}}</a></td>
                    <td><a href="{% url schools_districts_view_show row.district.slug 'immunizations' %}">{{row.district.name|title}}</a></td>
                    <td><a href="{% url schools_view_show row.school.slug 'immunizations' %}">{{row.school.name|title}}</a></td>
                    <td>{{row.get_type_display|title}}</a></td>
                    <td class="rightAlign">{{row.percent_up_to_date|floatformat:2|intcomma|default:0}}%</td>
                    <td class="rightAlign">{{row.percent_pbe|floatformat:2|intcomma|default:0}}%</td>
                    <td class="rightAlign">{{row.enrollment|intcomma}}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <div style="text-align: right; padding: 5px;">{% simple_paginate pages %}</div>
        </div>
    {% block fb_comments %}                                                                          
        {{block.super}}                                                                              
    {% endblock %}      
	</div>
	<div class="right-column col">
	    <div class="pad">
            {% include "immunizations/partials/stat.html" %}
    	    {% include "immunizations/partials/search.html" %}
            {% include 'immunizations/partials/school_search.html' %}
    		{% include "immunizations/partials/accordian.html" %}
        </div>
    </div>

</div>
{% endblock %}
