{% extends "dataapps/dataapps_base.html" %}                                                                                                                  
                                                                                                                                                             
{% block internal_css_includes %}                                                                                                                            
    {{block.super}}                                                                                                                                          
    <link rel="stylesheet" href="{{MEDIA_URL}}js/tweet/jquery.tweet.css" type="text/css"/>                                                                   
    <link rel="stylesheet" href="{{MEDIA_URL}}css/dataapps/immunizations.css" type="text/css"/>
{% endblock %}                                                                                                                                               

{% block external_css_includes %}
	{{block.super}}
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
{% endblock %}
                                                                                                                                                             
{% block internal_js_includes %}                                                                                                                             
    {{block.super}}                                                                                                                                          
    <script src="{{ MEDIA_URL }}js/tweet/jquery.tweet.js"></script>                                                                                          
{% endblock %}                                                                                                                                               
                                                                                                                                                             
{% block app_title %}                                                                                                                                        
<a href="{% url immunizations_index %}">Shots for School
<sup>Immunizations in the Bay Area</sup></a>
{% endblock %}                                                                                                                                               
                                                                                                                                                             
{% block social_links %}                                                                                                                                     
    <div>         
	<a href="http://twitter.com/share" class="twitter-share-button" data-url="www.baycitizen.org/data/immunizations" data-text="I explored @TheBayCitizen's Shots for Schools: Immunizations in the Bay Area.  See immunization rates near you!" data-count="horizontal" data-via="TheBayCitizen" data-related="shaneshifflett">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>  
    </div>                                                                                                                                                   
    <div>                                                                                                                                                    
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.baycitizen.org%2Fdata%2Fimmunizations%2F&amp;layout=button_count&amp;show_faces=true&amp;width=130&amp;action=recommend&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:130px; height:21px;" allowTransparency="true"></iframe>
    </div>
{% endblock %}                                                                                                                                               

{% block adslots %}                                                                                                                                          
{{ block.super }}
GA_googleAddSlot("ca-pub-5050647251544365", "RightRail_Sponsor_160x600");                                                                                    
GA_googleAddSlot("ca-pub-5050647251544365", "RightRail_House_160x600");
GA_googleAddSlot("ca-pub-5050647251544365", "RightRail_Sponsor_180x150");                                                                                    
GA_googleAddSlot("ca-pub-5050647251544365", "RightRail_House_180x150");
{% endblock %}

{% block js %}                                                                                                                                               
    {{block.super}}
	<script src="{{MEDIA_URL}}js/highcharts2/highcharts.js" type="text/javascript"></script>
	<script src="{{MEDIA_URL}}js/jquery/plugins/jcarousellite_1.0.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			Highcharts.setOptions({
				colors: ['#5077B3', '#65B651', '#646464']
			});
			$('#county-navigation').accordion({ active: false, autoHeight: false, collapsible: true});
			$('#faq-navigation').accordion({ active: false, autoHeight: false, collapsible: true});
			$('#statrefresh').click(function(e){ e.preventDefault(); $('#pagestat').load('{% url immunizations_stats_refresh from_page %}');});
            $(document).ready(function() {

        		$("#slider").jCarouselLite({
                    btnNext: ".imageSliderExt .next",
                    btnPrev: ".imageSliderExt .prev",
                    visible: 1,
                    btnGo:
                    ["#slider .slide1", "#slider .slide2", "#slider .slide3"]
                });

                $("#slidewrap").show('slow');

            });

		});
		function addCommas(nStr)
		{
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}
		</script>
{% endblock %}