{% extends "immunizations/immunizations_base.html" %}
{% block page_title %}{{page_title}} - The Bay Citizen{% endblock %}
{% block meta %}
    <link rel="canonical" href="{% url immunizations_index %}" />
{% endblock %}

{% block internal_css_includes %}
    {{block.super}}                                                                                                                                          
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript">
    $(document).ready(function() {
		$("#slider").jCarouselLite({
            btnNext: ".imageSliderExt .next",
            btnPrev: ".imageSliderExt .prev",
            visible: 1,
            btnGo:
            ["#slider .slide1", "#slider .slide2"]
        });
    });
    </script>
{% endblock %}
{% block content %}

	<div id="immunization" class="bd-base">
		{% block header_menu %}
			{{block.super}}
		{% endblock %}

	<div class="main-column col">
		<section class="pad">
			<h2 class="bigteal">Immunizations in {{school.name|title}}</h2>
			{% include "immunizations/partials/school_city_county_comparison_graph.html" %}
			{% include "immunizations/partials/bythenumbers_school.html" %}
			{% include 'immunizations/partials/school_search.html' %}
		</section>
    {% block fb_comments %}                                                                          
        {{block.super}}                                                                              
    {% endblock %}      
	</div>
	<div class="right-column col">
	    <div class="pad">
    		{% include "immunizations/partials/stat.html" %}
    		{% include "immunizations/partials/search.html" %}
    		{% include "immunizations/partials/accordian.html" %}
    		{% include "immunizations/partials/glossary.html" %}
    	</div>
    </div>
</div>

{% endblock %}
