{% extends "immunizations/immunizations_base.html" %}
{% block page_title %}{{page_title}} - The Bay Citizen{% endblock %}
{% block meta %}
    <link rel="canonical" href="{% url immunizations_index %}" />
{% endblock %}

{% block internal_css_includes %}
    {{block.super}}                                                                                                                                          
{% endblock %}

{% block js %}
    {{block.super}}

{% endblock %}
{% block content %}
<div id="immunization" class="bd-base">
    {% block header_menu %}
        {{block.super}}
    {% endblock %}
    <div id="slidewrap">
    <div id="slider">
    <ul>
        <li>
            <section class="intro two-col fifty-fifty pad">
                <div class="col c1">
                    <h1>Falling Immunization Rates</h1>
<p>In recent years, the number of Bay Area kindergartners who have been immunized against diseases like whooping cough and measles has declined. With the 2011-12 school year beginning, we collected the latest data covering last year from the California Department of Health, so you can see which schools are most susceptible to an infectious outbreak. Search for a school or select a county to see more data, or keep reading by clicking on the next chart.</p>
        			<p>
                    <a href="#" class="current slide1"><img src="{{STATIC_URL}}images/immunization/thumb-01.png"></a>
                    <a href="#" class="slide2"><img src="{{STATIC_URL}}images/immunization/thumb-02.png"></a>
                    <a href="#" class="slide3"><img src="{{STATIC_URL}}images/immunization/thumb-03.png"></a>
        			</p>
                </div><div class="col c2">
                    {% include 'immunizations/partials/comparison_graph.html' %}
                </div>
            </section>
        </li>
        <li>
            <section class="intro two-col fifty-fifty pad">
                <div class="col c1">
                    <h1>Personal Beliefs in Play</h1>
<p>California is one of 20 states that allows parents to exempt their children from mandatory vaccinations by citing “personal beliefs.” Over the last 20 years, Marin and Sonoma counties have consistently had the highest rates of personal belief exemptions among Bay Area counties, which officials say contributed to last year’s especially potent outbreak of whooping cough in those areas.</p>
                    <a href="#" class="slide1"><img src="{{STATIC_URL}}images/immunization/thumb-01.png"></a>
                    <a href="#" class="current slide2"><img src="{{STATIC_URL}}images/immunization/thumb-02.png"></a>
                    <a href="#" class="slide3"><img src="{{STATIC_URL}}images/immunization/thumb-03.png"></a>
                </div><div class="col c2">
                    {% include 'immunizations/partials/personal_belief_graph.html' %}        
                </div>
            </section>
        </li>
        <li>
            <section class="intro two-col fifty-fifty pad">
                <div class="col c1">
                    <h1>A Historic Outbreak</h1>
<p>Last year marked California’s worst whooping cough epidemic in 60 years. The spread of the disease, which harms mostly infants, school-aged children and the elderly, has sent shock waves through Bay Area communities. An immunization push, combined with the natural ebb of the disease, has led to a decrease in reported cases throughout the Bay Area since last year, but infection rates are still above normal, according to the state Department of Public Health.</p>
                    <a href="#" class="slide1"><img src="{{STATIC_URL}}images/immunization/thumb-01.png"></a>
                    <a href="#" class="slide2"><img src="{{STATIC_URL}}images/immunization/thumb-02.png"></a>
                    <a href="#" class="current slide3"><img src="{{STATIC_URL}}images/immunization/thumb-03.png"></a><br><br>
                </div><div class="col c3">
                    {% include 'immunizations/partials/whooping_cough_county.html' %}        
                </div>
            </section>
        </li>
    </ul>
    </div>
    </div>
    
    
    
    <div class="main-column col">
        <section class="pad">
            {% include 'immunizations/partials/bythenumbers.html' %}
            {% include 'immunizations/partials/raw_table_counties.html'%}
        </section>

	{% block fb_comments %}
		{{block.super}}
	{% endblock %}
	</div>
	<div class="right-column col">
        <section class="pad">
            {% include "immunizations/partials/stat.html" %}
    	    {% include "immunizations/partials/search.html" %}
            {% include 'immunizations/partials/school_search.html' %}
    		{% include "immunizations/partials/accordian.html" %}
    		{% include "immunizations/partials/glossary.html" %}
        </section>
    </div>
</div>

{% endblock %}
