#app-top h5 { background:url("http://media.baycitizen.org/images/icons/levelname.png") no-repeat scroll 2px 2px transparent; padding-left: 60px; font-size: 1.6em; width: 650px; margin-bottom: 10px; color: #515151; line-height: 25px; }
#app-top h1 { font-family: "Helvetica","Arial"; color: #EEAF4D; font-size: 210%; margin-bottom: 20px;}
#app-top span.brand {font-size: .9em; font-weight:bold; text-transform: uppercase; color: #adadad;}
#app-top span.sub {font-size: .7em;}
#app-top p.data {font-size: 1em;  width: 650px;}
#app-top a { color: #5077B3; font-weight:bold; font-size: 1.2em;}
.homeright { float: right;}

#lookingat {background-image:url("http://media.baycitizen.org/images/icons/bg-breadcrumb-bar.png");background-repeat:no-repeat;color:#515151; font-size:0.9em; font-weight:bold; height:30px; margin:5px 5px 5px 0; padding:1px 1px 1px 5px; width: 680px;}
#lookingat a {color: #5077B3; font-weight: normal; font-size: 80%;}
.backLink { font-size: 80%; margin-bottom: 10px; } 
.backLink a {font-weight: normal; }

.statbox { background: #ffffff; padding: 10px 20px; margin: 0 0 15px 0; border: 1px solid #b4b4b4; border-top: 20px solid #EEAF4D; font:Arial, Helvetica, sans-serif; font-size: 1.2em; font-weight: bold; color: #000; -moz-border-radius: 0 0 8px 8px; -webkit-border-radius: 0 0 8px 8px; border-radius: 0 0 8px 8px; -moz-box-shadow: 0px 0px 2px #8c8c8c; -webkit-box-shadow: 0px 0px 2px #8c8c8c; box-shadow: 0px 0px 2px #8c8c8c; }
.statbox p { margin: 0; padding: 0; margin-bottom: 5px;}
.statgraphic-immunization { background: url(../images/icons/needle-boy.png) top right no-repeat; width: 155px; height: 110px; float: right; margin-left: 20px; margin-top: -50px; }
.statbox a {color: #5077B3;}
.statbox a.refresh {background:none repeat scroll 0 0 #EEEEEE;border:1px solid #ccc;padding:3px 10px; font-size: .9em;}
#statrefresh {padding: 10px 0px;}
#levelstats {background:none repeat scroll 0 0 #e6e6e6; padding:5px; width:280px;}
#levelstats h4 {font-family: helvetica; background: #65B651; padding: 5px; color: white; font-size: 1.1em; margin: 0;}
#levelstats table {background-color:#fff;border:1px solid #ADADAD;margin-bottom:0; padding: 6px;}
#levelstats td.main {color:#65B651;font-size:1.15em; display: table; text-align: right; }
#levelstats td {text-align: left; color: #adadad; font-size: 1em;}
#levelstats td.schoolname {text-align: right; color: #adadad; font-size: 1em;}
#levelstats td {vertical-align: top; font-weight: bold; color: #515151; font-size: 1.4em}
#levelstats td.small {vertical-align: bottom; font-weight: bold; color: gray; font-size: 1.1em}
#levelstats p {background: white; border: 1px solid #adadad; margin: 0; padding: 5px; border-bottom: 0px; font-size: .8em; font-weight: bold; color: #515151;}

#primaryStats {background:none repeat scroll 0 0 #e6e6e6; padding:5px; width:280px;}
#primaryStats h4 {font-family: helvetica; background: #65B651; padding: 5px; color: white; font-size: 1.1em; margin: 0;}
#primaryStats table {background-color:#fff;border:1px solid #ADADAD;margin-bottom:0; padding: 6px;}
#primaryStats td.main { color:#65B651; text-align: left; }
#primaryStats td.small { font-weight: normal; color: #555; text-align: left; font-size: 90%; padding-left: 20px;}
#primaryStats td.smallResult { font-weight: bold; font-size: 90%; vertical-align: top; }
#primaryStats td.schoolname {text-align: right; color: #adadad; }
#primaryStats td {vertical-align: top; font-weight: bold; color: #515151; }
#primaryStats p {background: white; border: 1px solid #adadad; margin: 0; padding: 5px; border-bottom: 0px; font-size: .8em; font-weight: bold; color: #515151;}
#primaryStats .sep { border-top: 1px dotted #999; }
#primaryStats a { color: #5077B3;}

#rollup {float: right; clear: right; width: 400px;}
#rollup table {border:1px solid #CCCCCC;border-collapse:collapse;border-spacing:4px;margin-bottom:0;}
#rollup table td {color: #65B651; font-size: 1em; text-transform: uppercase;}
#rollup table tr {padding: 6px; margin-bottom: 10px;}
#rollup .header {font-weight: bold; color: white; font-size: 1.1em; padding: 5px; background: #65B651;}
#rollup p {color:#515151; font-size:0.8em; padding: 5px; font-weight: bold; margin: 0;}
#rollup a {color: #5077B3;}
.isection { background-color:#e6e6e6; margin:0 10px 10px; padding:5px;}
.inner { background-color:#FFFFFF; border: 1px solid #adadad;}
.isection .header { font-weight: bold; color: #042A01; font-size: 13px; padding: 8px; background: #65B651;}

#app_searchupper  {background:none repeat scroll 0 0 #E6E6E6; border:1px solid #CCCCCC; float:right; padding:10px; width: 300px;}
#app_searchupper  a { color: #869725;}
#app_searchupper p { line-height: 10px; margin: 0; padding: 3px;}
#app_searchupper  p.top { font-weight: bold; font-size:1.2em; width: 300px;}
#app_searchupper  p.bottom { font-style:italic; line-height:15px; width: 300px;}
#app_searchupper input[type="text"] {font-family: helvetica; padding: 4px; color: #515151;}
#app_search {background:none repeat scroll 0 0 #E6E6E6; border:1px solid #CCCCCC; margin-top:10px; margin-bottom: 10px; padding:9px; width:270px;}
#app_search a { color: #869725;}
#app_search p { line-height: 15px; margin: 0; padding: 3px;}
#app_search p.top { font-weight: bold; font-size:1.2em; width: 300px;}
#app_search p.bottom { font-style:italic; padding: 5px;}
#app_searchright {background:none repeat scroll 0 0 #E6E6E6;border:1px solid #CCCCCC;float:left;margin-bottom:10px;margin-left:10px;padding:9px;width:360px;}
#app_searchright a { color: #869725;}
#app_searchright p { line-height: 15px; margin: 0; padding: 3px;}
#app_searchright p.top { font-weight: bold; font-size:1.2em; width: 300px;}
#app_searchright p.bottom { font-style:italic; padding: 5px;}

#results {background:none repeat scroll 0 0 #E6E6E6;float:left; padding:5px; margin-right: 10px;}
#results h3 {color:#515151; font-family:helvetica; margin:5px 0 5px 0; padding:7px;}
#results h6 {color:#515151; font-family:helvetica; margin:3px 0 0; padding:7px; font-weight: normal;}
#results ul {margin: 10px 0 0 0; border-bottom: 1px dotted #ccc; padding: 0;}
#results ul span {color: #515151; font-weight: bold;}
#results li {color:#515151; display:inline;font-size:1em;font-weight:bold;padding:6px;text-transform:uppercase;}
#results li a {color: #5077B3; cursor:pointer;}
#results .vacc-results-up {background: url("http://media.baycitizen.org/images/icons/vacc_arrow_up.png") no-repeat right top; }

#results table {display: block; margin: 0;}
#results table thead th { border-bottom: 1px solid #999; font-size: 90%; }
#results table thead th a.sort_asc { display: block; background: url("http://d1m7jskxfd7v6.cloudfront.net/images/icons/sort_asc.png") no-repeat left top; padding: 0 0 0 12px; }
#results table thead th a.sort_desc { display: block; background: url("http://d1m7jskxfd7v6.cloudfront.net/images/icons/sort_desc.png") no-repeat left top; padding: 0 0 0 12px; }

#results table td {text-align:left; width:620px; }
#results table .rightAlign { text-align: right; }
#results table tr, td {color:#515151; font-size: 97%; font-weight:normal; vertical-align:top;}
#results td a {color:#5077B3; text-decoration: underline; }
#results table tr.alternate { background: #eee; }

.appright {border-top:5px solid #E6E6E6; float: left; width:260px;}
.appright h5 {color: white; background: #5077B3; padding: 8px;}
.appright a {color: #5077B3; margin-left: 6px;}

.appleft { float: left; width: 690px;}
.subAppLeft, .subAppRight { float: left; } 

.appright #county-navigation h5 { background-color: #eee; margin-top: 1px; border: 1px solid #ccc; padding: 3px;}
#app_glossary {margin-top: 20px; border: 1px solid #ccc; }
#app_glossary h6 {font-family: helvetica; padding: 6px; color: #515151; background: #eee;}
#app_glossary p.sub {padding: 6px; background: #eee;}
#app_glossary p {padding: 6px; padding-bottom: 0;}
