{% extends "census2010/census_base.html" %}

{% block internal_css_includes %}
    {{block.super}}
{% endblock %}

{% block internal_js_includes %}
    {{block.super}}
    
{% endblock %}

{% block external_js %}
    {{block.super}}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}
 
{% block js %}
    {{block.super}}

    <script type="text/javascript" charset="utf-8">

        var tableid_1 = {{focus_ft_id}};
        var zoom = 8;
        var map = null;
        var center = new google.maps.LatLng(37.7056, -122.1899);

        assembly_layer = new google.maps.FusionTablesLayer({{ft_table_ids.legislative_lower}});
        assembly_layer.setQuery("SELECT geometry FROM {{ft_table_ids.legislative_lower}}");
        assembly_layer.setOptions({suppressInfoWindows: true});

        senate_layer = new google.maps.FusionTablesLayer({{ft_table_ids.legislative_upper}});
        senate_layer.setQuery("SELECT geometry FROM {{ft_table_ids.legislative_upper}}");
        senate_layer.setOptions({suppressInfoWindows: true});

        $("#boundaries").change(function() {
            value = $(this).val();
            
            if (value == 'assembly') {
                assembly_layer.setMap(map);
                senate_layer.setMap(null);


				google.maps.event.addListener(assembly_layer, 'click', function(e){
					var html_str = "<h4>"+e.row['NAME10'].value+"</h4>";
					html_str += "<ul>";
					html_str += "<li>Representative: "+e.row['Representative'].value+"</li>";
					html_str += "Population: "+e.row['Pop 2010'].value+"</li>";
					html_str += "</ul>";
					$("#quick_info").html(html_str);
				});
            } else if (value == 'senate') {
                assembly_layer.setMap(null);
                senate_layer.setMap(map);


				google.maps.event.addListener(senate_layer, 'click', function(e){
					var html_str = "<h4>"+e.row['NAME10'].value+"</h4>";
					html_str += "<ul>";
					html_str += "<li>Representative: "+e.row['Representative'].value+"</li>";
					html_str += "Population: "+e.row['Pop 2010'].value+"</li>";
					html_str += "</ul>";
					$("#quick_info").html(html_str);
				});
            } else {
                assembly_layer.setMap(null);
                senate_layer.setMap(null);
            }
        });

        $(document).ready(function() {
        
            map = new google.maps.Map(document.getElementById('map-display'), {
                center: center,
                zoom: zoom,
                //maxZoom: zoom,
                //minZoom: zoom,
                //zoomControl: false,
                streetViewControl: false,
                mapTypeControl: false,
                panControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
			{% if geography.geo_list|length > 0 %}
					{% if geography.geo_type.name == 'county' %}
					query_str = "SELECT geometry FROM {{focus_ft_id}} WHERE county_geo_id={{geography.geo_id}}";
					{% endif %}
					{% if geography.geo_type.name == 'legislative_upper' %}
					query_str = "SELECT geometry FROM {{focus_ft_id}} WHERE senate_geo_id={{geography.geo_id}}";
					{% endif %}
					{% if geography.geo_type.name == 'legislative_lower' %}
					query_str = "SELECT geometry FROM {{focus_ft_id}} WHERE assembly_geo_id={{geography.geo_id}}";
					{% endif %}
					{% if geography.geo_type.name == 'congressional' %}
					query_str = "SELECT geometry FROM {{focus_ft_id}} WHERE congressional_geo_id={{geography.geo_id}}";
					{% endif %}
					layer = new google.maps.FusionTablesLayer({{focus_ft_id}});
					layer.setQuery(query_str)
					layer.setOptions({suppressInfoWindows: true});
					layer.setMap(map);

    				google.maps.event.addListener(layer, 'click', function(e) {
                        var css_class = e.row['total_pop_pct_change'].value < 0 ? "down" : "up";
    					var html_str = "<div class='pagelink'><a href='/data/census-2010/cities/"+e.row['slug'].value+"/'>See details for " + e.row['NAME10'].value + "</a></div>";
						html_str += "<h4><a href='/data/census-2010/cities/"+e.row['slug'].value+"/'>"+e.row['NAME10'].value + "</a></h4>";
						html_str += "<ul>";
						html_str += "<li><span class='" + css_class + " black'>"+e.row['total_pop_pct_change'].value+"%</span></li>";
						html_str += "<li>2000 Total Population: <span>"+e.row['old_total_pop'].value+"</span></li>";
						html_str += "<li>2010 Population: <span>"+e.row['new_total_pop'].value+"</span></li>";
						html_str += "</ul>";
						$("#quick_info").html(html_str);
					});
			{% else %}
				layer_0 = new google.maps.FusionTablesLayer(tableid_1);
				layer_0.setQuery("SELECT geometry FROM {{focus_ft_id}} WHERE GEOID10='{{geography.geo_id}}'");
				layer_0.setOptions({suppressInfoWindows: true});
				layer_0.setMap(map);
			{% endif %}            

            
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'pop-chart',
                    defaultSeriesType: 'pie',
                    width: 300,
                    height: 300,
                    margin: -10
                },
                legend: false,
                title: false,
                tooltip: {
                    enabled: false
                },
                credits: false,
                plotOptions: {
                    pie: {
                        size: "50%",
                        dataLabels: {
                           enabled: true,
                           connectorWidth: 1,
                           distance: 10,
                           formatter: function() {
                              return '<b>'+ this.point.name +'</b>:<br/>'+ this.y +' %';
                           }
                        }
                    }
                },
                series: [{
                    data: {{ pie_data|safe }}
                }]
            });
            
    $.tablesorter.addParser({ 
        id: "commaDigit",
        is: function(s, table) {
            var c = table.config;
            return jQuery.tablesorter.isDigit(s.replace(/,/g, ""), c);
        },
        format: function(s) {
            return jQuery.tablesorter.formatFloat(s.replace(/,/g, ""));
        },
        type: "numeric"
    });
            
    $('#detail-table').tablesorter({widgets: ['zebra']});
});
</script> 
{% endblock %}

{% block main_column %}

	<div id="detail-page">
		<div class="right" style="margin-left: 10px; display: inline;">
			<span>
	            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.baycitizen.org/data/census-2010/" data-count="vertical" data-via="thebaycitizen">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            </span>
            <span style="margin-left: 10px;">
	            <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.baycitizen.org%2Fdata%2Fcensus-2010%2F&amp;layout=box_count&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;font=arial&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:65px;" allowTransparency="true"></iframe>
            </span>
        </div>
		<h1>Census 2010: Play with the Data</h1>
		<h2 style="font-family: Helvetica, sans-serif;">The Bay Area grew at its slowest rate in nearly a century over the past decade, likely signaling a loss of political power to the Central Valley as the redistricting process begins. Meanwhile, the Bay Area’s Asian and Hispanic populations boomed, while the ranks of blacks dwindled in most cities. See how your city or county has changed. <br/><span style="font-size: .8em; font-weight: lighter; color: #646464; padding-top:20px"> What is redistricting? Why do we have a Census, anyway? Read our full Census coverage <a href="http://www.baycitizen.org/census-2010/">here.</a></span></h2>
		<div id="right-col">
			<h3>{{ geography.display_name }}</h3>
			<ul id="pop-overview">
				<li>{{ total_population.pct_change|safe }}</li>
				<li><span>Population 2000:</span> {{ total_population.2000 }}</li>
				<li><span>2010:</span> {{ total_population.2010 }}</li>
			</ul>
			{% ifequal geo_type "county" %}
			<p>{{ geography.info_text|safe }}</p>
            {% endifequal %}
			<div class="c-module">
				<span class="title">Population by Race</span>
                <div id="pop-chart" class="c-content" style="margin: 5px;"></div>
			</div>
			{% if geo_type != "place" and geo_type != "tract" %}
				<div class="c-module">
					<span class="title">Cities in {{ geography.display_name }}</span>
					<div class="c-content">	
						<ul>
						{% for geo in geography.intersecting_geos.all %}
							<li><a href="{{ geo.get_absolute_url }}">{{ geo.display_name }}</a></li>
						{% endfor %}
						</ul>				
					</div>
					<span class="compare">
	                    <a href="{% url census2010_city_list %}?compare={{ geography.slug }}">Compare these</a>
                    </span>
				</div>
			{% endif %}
		</div>
		<div id="left-col">
			<ul id="breadcrumb">
				<li class="label">Currently viewing:</li>
                {% ifequal geo_type "county" %}
                    <li><a href="{% url census2010_county_list %}">All Counties</a> &gt;</li>
				{% endifequal %}
				{% ifequal geo_type "place" %}
                    <li><a href="{% url census2010_city_list %}">All Cities</a> &gt;</li>
                {% endifequal %}
				{% ifequal geo_type "congressional" %}
					<li><a href="{% url census2010_congressional_list %}">All Congressional Districts</a>&gt;</li>
				{% endifequal %}
				{% ifequal geo_type "legislative_lower" %}
					<li><a href="{% url census2010_assembly_list %}">All State Assemblies</a>&gt;</li>
				{% endifequal %}
				{% ifequal geo_type "legislative_upper" %}
					<li><a href="{% url census2010_senate_list %}">All State Senate Districts</a>&gt;</li>
				{% endifequal %}
				{% ifequal geo_type "tract" %}
					<li><a href="{% url census2010_tract_list %}">All Tracts</a>&gt;</li>
				{% endifequal %}
				<li>{{ geography.display_name }}</li>
			</ul>
			<div id="map">
				<div id="titlebar">
					<ul id="navigation">
						{% ifequal geo_type "county" %}
							<li class="active"><a href="{% url census2010_county_list %}">Counties</a></li>
							<li><a href="{% url census2010_city_list %}">Cities</a></li>
							<li><a href="{% url census2010_congressional_list %}">Congressional</a></li>
							<li><a href="{% url census2010_senate_list %}">State Senate</a></li>
							<li><a href="{% url census2010_assembly_list %}">State Assemblies</a></li>
							<li><a href="{% url census2010_tract_list %}">Tracts</a></li>
						{% endifequal %}
						{% ifequal geo_type "place" %}
							<li><a href="{% url census2010_county_list %}">Counties</a></li>
							<li class="active"><a href="{% url census2010_city_list %}">Cities</a></li>
							<li><a href="{% url census2010_congressional_list %}">Congressional</a></li>
							<li><a href="{% url census2010_senate_list %}">State Senate</a></li>
							<li><a href="{% url census2010_assembly_list %}">State Assemblies</a></li>
							<li><a href="{% url census2010_tract_list %}">Tracts</a></li>
						{% endifequal %}
						{% ifequal geo_type "congressional" %}
							<li><a href="{% url census2010_county_list %}">Counties</a></li>
							<li><a href="{% url census2010_city_list %}">Cities</a></li>
							<li class="active"><a href="{% url census2010_congressional_list %}">Congressional</a></li>
							<li><a href="{% url census2010_senate_list %}">State Senate</a></li>
							<li><a href="{% url census2010_assembly_list %}">State Assemblies</a></li>
							<li><a href="{% url census2010_tract_list %}">Tracts</a></li>
						{% endifequal %}
						{% ifequal geo_type "legislative_upper" %}
							<li><a href="{% url census2010_county_list %}">Counties</a></li>
							<li><a href="{% url census2010_city_list %}">Cities</a></li>
							<li><a href="{% url census2010_congressional_list %}">Congressional</a></li>
							<li class="active"><a href="{% url census2010_senate_list %}">State Senate</a></li>
							<li><a href="{% url census2010_assembly_list %}">State Assemblies</a></li>
							<li><a href="{% url census2010_tract_list %}">Tracts</a></li>
						{% endifequal %}
						{% ifequal geo_type "legislative_lower" %}
							<li><a href="{% url census2010_county_list %}">Counties</a></li>
							<li><a href="{% url census2010_city_list %}">Cities</a></li>
							<li><a href="{% url census2010_congressional_list %}">Congressional</a></li>
							<li><a href="{% url census2010_senate_list %}">State Senate</a></li>
							<li class="active"><a href="{% url census2010_assembly_list %}">State Assemblies</a></li>
							<li><a href="{% url census2010_tract_list %}">Tracts</a></li>
						{% endifequal %}
						{% ifequal geo_type "tract" %}
							<li><a href="{% url census2010_county_list %}">Counties</a></li>
							<li><a href="{% url census2010_city_list %}">Cities</a></li>
							<li><a href="{% url census2010_congressional_list %}">Congressional</a></li>
							<li><a href="{% url census2010_senate_list %}">State Senate</a></li>
							<li><a href="{% url census2010_assembly_list %}">State Assemblies</a></li>
							<li class="active"><a href="{% url census2010_tract_list %}">Tracts</a></li>
						{% endifequal %}
					</ul>
				</div>
                {% if geography.geo_list|length > 0 %}
                    <div id="quick_info">
    					<div id="pre-click">click on the map to see details</div>
                    </div>
                {% endif %}
				<div id="map-display"></div>
				<div id="map-legend">
                    {% if geo_type == "county" or geo_type == "congressional" or geo_type == "legislative_lower" or geo_type == "legislative_upper"  %}
					    <img src="{{MEDIA_URL}}images/census2010/map-legend-county.png" alt="Population change 2000-2010" width="470" height="20"/>
                    {% else %}
					    <img src="{{MEDIA_URL}}images/census2010/map-legend-city.png" alt="Population change 2000-2010" width="513" height="20"/>
                    {% endif %}
				</div>
			</div>
			<h3>{{ geography.display_name }} Demographics</h3>
			<table id="detail-table" cellpadding="0" cellspacing="0">
				<thead>
					{% for header in headers %}
						<th>{{ header }}</th>
					{% endfor %}
				</thead>
				<tbody>
					{% for row in rows %}
						<tr class="{% cycle 'grey' 'white' %}">
							{% for col in row %}
                                {% if forloop.first %}
                                    <td>{{ col|safe }}</td>
                                {% else %}
                                    <td class="text-right">{{ col|safe }}</td>
                                {% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<p style="text-transform: uppercase; color: #adadad; padding: 5px; font-size: .9em; margin-bottom: 0">Published 3/10/2011. By Peter Gullekson, Sydney Lupkin, Tasneem Raja, Shane Shifflett, David Suriano and Aurelio Tinio.</p>
		</div>
		<div class="clearfix"></div>
	</div>
{% endblock %}
