{% extends "rankedchoice/rankedchoice_base.html" %}
{% block page_title %}{{page_title}} - The Bay Citizen{% endblock %}

{% block internal_css_includes %}
    {{block.super}}
    <link rel="stylesheet" href="{{MEDIA_URL}}css/dataapps/rankedchoice/BarChart.css" type="text/css"  />
{% endblock %}

{% block head_js %}
    {{block.super}}
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{MEDIA_URL}}js/dataapps/rankedchoice/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="{{MEDIA_URL}}js/dataapps/rankedchoice/jit.uncompressed.js"></script>
    <script type="text/javascript" charset="utf-8">
        var labelType, useGradients, nativeTextSupport, animate;

        (function() {
          var ua = navigator.userAgent,
              iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
              typeOfCanvas = typeof HTMLCanvasElement,
              nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
              textSupport = nativeCanvasSupport 
                && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
          //I'm setting this based on the fact that ExCanvas provides text support for IE
          //and that as of today iPhone/iPad current text support is lame
          labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
          useGradients = nativeCanvasSupport;
          nativeTextSupport = labelType == 'Native';
          animate = !(iStuff || !nativeCanvasSupport);
        })();

        function init(){
              var json = {
                  'label': ['Choice 1', 'Choice 2', 'Choice 3', 'Trashed'],
                  'values': [
                  {
                    'label': 'Mikeala Alioto-Pier',
                    'values': [75, 0, 0, 0]
                  }, 
                  {
                    'label': 'candidate B',
                    'values': [30, 10, 45, 0]
                  }, 
                  {
                    'label': 'candidate C',
                    'values': [38, 20, 35, 0]
                  }, 
                  {
                    'label': 'candidate D',
                    'values': [58, 10, 35, 0]
                  }, 
                  {
                    'label': 'candidate E',
                    'values': [55, 60, 34, 0]
                  }, 
                  {
                    'label': 'candidate F',
                    'values': [55, 60, 34, 0]
                  }, 
                  {
                    'label': 'candidate G',
                    'values': [55, 60, 34, 0]
                  }, 
                  {
                    'label': 'candidate H',
                    'values': [55, 60, 34, 0]
                  }, 
                  {
                    'label': 'candidate I',
                    'values': [55, 60, 34, 0]
                  }, 
                  {
                    'label': 'candidate J',
                    'values': [55, 60, 34, 0]
                  }, 
                  {
                    'label': 'candidate K',
                    'values': [55, 60, 34, 0]
                  }, 
                  {
                    'label': 'candidate L',
                    'values': [55, 60, 34, 0]
                  }, 
                  {
                    'label': 'candidate M',
                    'values': [55, 60, 34, 0]
                  }, 
                  {
                    'label': 'candidate N',
                    'values': [55, 60, 34, 38]
                  }, 
                  {
                    'label': 'candidate O',
                    'values': [55, 60, 34, 0]
                  }, 
                  {
                    'label': 'candidate P',
                    'values': [55, 60, 34, 0]
                  }, 
                  {
                    'label': 'divider',
                    'values': [0, 0, 0, 0]
                  }, 
                  {
                    'label': 'exhausted',
                    'values': [0, 0, 0, 40]
                  }]
                  
              };

                var json2 = {
                  'values': [
                  {
                    'label': 'Mikeala Alioto-Pier',
                    'values': [35, 40, 0, 0]
                  }, 
                  {
                    'label': 'candidate B',
                    'values': [30, 40, 45, 0]
                  }, 
                  {
                    'label': 'candidate D',
                    'values': [55, 30, 34, 0]
                  }, 
                  {
                    'label': 'candidate C',
                    'values': [26, 40, 85, 0]
                  }]
                  
              };

            var barChart = new $jit.BarChart({
                injectInto: 'infovis',
                animate: true,
                orientation: 'vertical',
                barsOffset: 20,
                Margin: {
                    top: 100,
                    left: 5,
                    right: 5,
                    bottom: 90 
                },
                labelOffset: 5,
                type: useGradients? 'stacked:gradient' : 'stacked',
                showAggregates: true,
                showLabels: true,
                Label: {
                    type: 'HTML',
                    size: 13,
                    family: 'Arial',
                    color: 'white'
                },
                Tips: {
                    enable: true,
                    onShow: function(tip, elem) {
                        tip.innerHTML = "<b>" + elem.name + "</b>: " + elem.value;
                    }
                }
            });

            barChart.loadJSON(json);

            var list = $jit.id('id-list'),
                button = $jit.id('next-button'),
                orn = $jit.id('switch-orientation');

            $jit.util.addEvent(button, 'click', function() {
              var util = $jit.util;
              if(util.hasClass(button, 'gray')) return;
              util.removeClass(button, 'white');
              util.addClass(button, 'gray');
              barChart.updateJSON(json2);
            });

            //dynamically add legend to list
            var legend = barChart.getLegend(),
                listItems = [];
            for(var name in legend) {
              listItems.push('<div class=\'query-color\' style=\'background-color:'
                  + legend[name] +'\'>&nbsp;</div>' + name);
            }
            list.innerHTML = '<li>' + listItems.join('</li><li>') + '</li>';
        }
    </script>
{% endblock %}

{% block facebook_js %}
{% endblock %}

{% block body_tag %}
    <body onload="init()">
{% endblock %}

{% block content %}
<div class="bd-base">
    <div id='container'>
        <div id='center-container'>
            <div id="infovis"></div> 
        </div>
    </div>
    <div>
        <a id="next-button" href="#" class="theme button white">Next</a>
        <div class="text">
        <h4>Ranked Choice Voting Example</h4> 
            Lorem ipsum...
            <br /><br />
            Click the Next button to update the JSON data.
        </div>
        <ul id="id-list"></ul>
    </div>
</div>
{% endblock %}
