{% extends "layouts/base.html" %}

{% block content_column %}
    <div class="column content question">
        <div class="inner header">
            <h1 class="left">Send Us a Tip</h1>
            <div class="clear"></div>
            <div class="dividerDouble"></div>
            <div class="head">
                Got a tip?  Let us know!<br/>
            </div>
            
            <form action="{% url generics_send_tip %}" method="post" id="sendTip">{% csrf_token %}
                {{form.name.label}}<br/>
                {{form.name}}<br/>
                {{form.email.label}}<br/>
                {{form.email}}<br/>
                {{form.body.label}}<br/>
                {{form.body}}<br/>
                <br/>
                <input type="submit" class="submitButton" value="Send Tip" />
            </form>
        </div>
    </div>
{% endblock %}