{% extends "404.html" %}

{% load module_tags %}

{% block content_column %}

<div class="column content about">
	<div class="inner">
		<h1 class="left">Houston, we have a problem ...</h1>						
		<div class="dividerDouble">&nbsp;</div>
		<div class="clear"></div>
		<img class="left" style="margin: 0 20px 0 0;" src="{{STATIC_URL}}images/layout/icon-refresh.png" />
		<div><p>Fortunately you can likely solve the problem by refreshing your page. If you have further issues, please email us at <a href='mailto:info@baycitizen.org'>info@baycitizen.org</a> and we'll look into it right away.</p>
			<div class="divider"></div>
			<a href="javascript:history.go(-1)">Go back to the previous page</a> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<a href="http://www.baycitizen.org">Go back to our home page</a>
		</div>
	</div>
</div>

{% endblock %}

{% block right_column %}
    {% module_right_rail 'error' %}
{% endblock %}