{% if display_popup %}
    <div class="meerkat newsletter">
        <div class="close-meerkat"></div>
        <div class="wrap">
            <div class="padding">
                <form action="{% url newsletters_subscribe %}?w=newsletterBottomSignup" method="POST" name="newsletterBottomSignup" id="newsletterSignup">{% csrf_token %}
                    <div style="float: left;">
                        <input type="text" name="email" class="emailaddress" id="id_email_bottom"> 
                        <div class="hide"> 
                        {% for choice in registration_form.base_fields.newsletter.choices %}
                            <input class="checkbox" {% if forloop.first %}checked="true"{% endif %} type="checkbox" name="newsletter" id="newsletter-{{choice.0}}" value="{{choice.0}}"/> 
                            <label for="newsletter-{{choice.0}}">{% if forloop.first %}Daily{% else %}Weekly{% endif %}</label> 
                        {% endfor %}
                        </div>
                    </div>
        
                    <div onclick="newsletterBottomSignup.submit();" class="buttonSignup"></div> 
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
