{% if pages and show_pages %}
    <div class="pagination">
       {% if end_list %}
            <div class="goto">
                <form action="." method="get">
                    <label for="gotoPage">Go to page:</label>
                    {% for k, v in inputs %}
                    <input type="hidden" name="{{k}}" value="{{v}}" />
                    {% endfor %}
                    <input type="text" name="page" value="" id="gotoPage" class="text" />
                    <input type="image" src="{{STATIC_URL}}images/layout/button-submit-pagination.png" class="submit" />
                </form>
            </div>
    	{% endif %}
        <div class="pages">
            {% ifnotequal current_page_num 1 %}
                <div class="pageNumber prev">
                    <a href="{{request.path}}?page={% if current_page.previous_page_number %}{{current_page.previous_page_number}}{% else %}{{current_page_num}}{% endif %}{% if qs %}&{{qs}}{% endif %}" class="pageLinkPrev">
                        <img src="{{STATIC_URL}}images/icons/pagination-prev.png" alt="" />
                    </a>
                </div>
            {% endifnotequal %}
            
            {% for i in start_list %}
                <div class="pageNumber{% ifequal i current_page_num %} active{% endifequal %}">
                    {% ifequal i current_page_num %}
                        {{i}}
                    {% else %}
                        <a href="{{request.path}}?page={{i}}{% if qs %}&{{qs}}{% endif %}" class="pageLink">{{i}}</a>
                    {% endifequal %}
                </div>
            {% endfor %}
            {% if end_list %}
                <div class="pageNumber">...</div>
                {% for i in end_list %}
                    <div class="pageNumber{% ifequal i current_page_num %} active{% endifequal %}">
                        {% ifequal i current_page_num %}
                            {{i}}
                        {% else %}
                            <a href="{{request.path}}?page={{i}}{% if qs %}&{{qs}}{% endif %}" class="pageLink">{{i}}</a>
                        {% endifequal %}
                    </div>
                {% endfor %}
            {% endif %}
            {% ifnotequal current_page_num pages.num_pages %}
                <div class="pageNumber next">
                    <a href="{{request.path}}?page={% if current_page.has_next %}{{current_page.next_page_number}}{% else %}{{current_page_num}}{% endif %}{% if qs %}&{{qs}}{% endif %}" class="pageLinkNext">
                        <img src="{{STATIC_URL}}images/icons/pagination-next.png" alt="" />
                    </a>
                </div>
            {% endifnotequal %}
        </div>
    </div>
{% endif %}