<div class="clear dividerDouble"></div>
<div class="socialBar">
    {% if not content.disable_comments %}
        {% if content.comments_count %}
            <div class="icon iComment left"><a href="{% if is_comment_link %}{{content.get_absolute_url}}comments/{% else %}#comments{% endif %}" class="comments_count">{{content.comments_count|default:"0"}} Comment{{content.comments_count|pluralize}}</a></div>
        {% else %}
            <div class="icon iComment left"><a href="{% if is_comment_link %}{{content.get_absolute_url}}comments/{% else %}#comments{% endif %}" class="comments_count">start discussion</a></div>
        {% endif %}
    {% endif %}
    <div class="right">
        {% if is_member_content %}
            {% if content.printable %}
                <div class="icon iPrint left"><a href="{{content.get_absolute_url}}print/">Print</a></div>
            {% endif %}
        {% else %}                         
            <div class="left" style="width: 65px;">
                <g:plusone size="medium" href="http://www.baycitizen.org{{content.get_absolute_url}}"></g:plusone>            
            </div>
            {% comment %}            
            <div class="fb-like left" data-href="http://www.baycitizen.org{{content.get_absolute_url}}" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-action="recommend"></div>
            {% endcomment %}

            <div class="left" style="width: 125px;">
                <fb:like href="http://www.baycitizen.org{{content.get_absolute_url}}" layout="button_count" width="120" show_faces="false" action="recommend" font=""></fb:like>
            </div>

            <div class="left">
                <iframe allowtransparency="true" frameborder="0" scrolling="no"
                        src="http://platform.twitter.com/widgets/tweet_button.html?url=http://www.baycitizen.org{{content.get_absolute_url}}&text={{content.title}}&count=horizontal&via=thebaycitizen"
                        style="width:100px; height:25px;"></iframe>
            </div>    
            <div class="addthis_toolbox addthis_default_style left">
                <a class="addthis_button_compact"></a>
                <a class="addthis_button_email"></a>
            </div>
            {% if content.printable %}
                <div class="left">
                    <a href="{{content.get_absolute_url}}print/">
                        <span class='icon iPrint'></span>
                    </a>
                </div>
            {% endif %}
        {% endif %} 
    </div>
    
</div>

{% block addthis_js %}
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
{% endblock %}

{% block plusone_js %}
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}
