<div class="video">
	{% if mobile %}
		<object height="{{ height }}" width="{{ width }}">
		    <param name="movie" value="{{ movie_url }}">
		    <param name="allowfullscreen" value="true">
		    <param name="allowscriptaccess" value="always">
		    <param name="rel" value="0">
		    <param name="wmode" value="transparent">
		    <embed src="{{ movie_url }}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" height="{{ height }}" width="{{ width }}" wmode="transparent" />
	  	</object>
	{% else %}
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" data="{{ movie_url }}" width="{{ width }}" height="{{ height }}">
		    <param name="movie" value="{{ movie_url }}" />
			<param name="allowfullscreen" value="true" />
			<param name="allowscriptaccess" value="always" />
			<param name="rel" value="0" />
			<param name="wmode" value="transparent" />
			
		    <!--[if !IE]>-->
		        <object type="application/x-shockwave-flash" data="{{ movie_url }}" width="{{ width }}" height="{{ height }}">
		        	<param name="movie" value="{{ movie_url }}" />
					<param name="allowfullscreen" value="true" />
					<param name="allowscriptaccess" value="always" />
					<param name="rel" value="0" />
					<param name="wmode" value="transparent" />
		        <!--<![endif]-->
					{% include 'generics/get_flash.html' %}
		        <!--[if !IE]>-->
		        </object>
		    <!--<![endif]-->
		</object>
	{% endif %}
</div>