/* app title graphic */
#app-title {
	background: url(../../images/bikeapp/titleLogo.png) no-repeat;
	text-indent: -9999em;
	width: 435px;
	height: 30px;
	margin: -5px 0 0 0;
	padding: 0;
	position: absolute;
	top: 14px;
}

/****************  left column  ***********************/
/* date view list */
#ba-left {
    margin-top:-2px;
    width:200px;
    position:relative;
}

#ba-left ul {
    border-bottom:1px solid #C9CACC;
}

#ba-left ul,
#ba-left ul li {
    list-style:none;
    padding:0;
    margin:0;
    position:relative;
}

/* repeating bg in the li */
#ba-left ul li {
    background:url(../../images/bikeapp/ba-sprite.png) repeat-x 0 -117px;
    list-style:none;
    padding:0;
    margin:0;
    height:54px;
    width:200px;
    z-index:1;
}

#ba-left ul li:hover {
    background-position:0 -505px;
}

#ba-left ul li a {
    background:url(../../images/bikeapp/nc-rep.png) repeat-y 100% 0;
    display:block;
    color:#0063ae;
    font-weight:bold;
    position:relative;
    z-index:1;
}

/* icons on the strong tag */
#ba-left ul li strong {
    height:36px;
    width:150px;
    padding:18px 0 0 50px;
    display:block;
    background:url(../../images/bikeapp/ba-sprite.png) no-repeat 0 -175px;
}

#ba-left ul a.vis strong {
    background-position:0 -175px;
}

#ba-left ul a.raw strong {
    background-position:0 -225px;
}

#ba-left ul a.rep strong {
    background-position:0 -282px;
}

#ba-left ul a.dis strong {
    background-position:0 -336px;
}

#ba-left ul a.ana strong {
    background-position:0 -390px;
}

#ba-left ul a.met strong {
    background-position:0 -444px;
}

/* style the <a> to cover the li background */
#ba-left ul li.current a {
    border-top:1px solid #C9CACC;
    background:url(../../images/bikeapp/c-rep.png) repeat-x 0 100% #ffffff ;
    color:#000000;
    z-index:2;
}

/* let the current li sit over the not-current ones */
#ba-left ul li.current {
    z-index:2;
}

/* ad space */
#ba-left .addspace {
    margin:10px 0 0 10px;
}

/****************  main app  ***********************/
#ba-right {
    float:right;
    width:736px;
    margin:14px 12px 0 0;
}

/* tabs */
#ba-right .maptabs {
    height:31px;
    margin:0;
    padding:0;
    border-bottom:1px solid #cbccce;
    position:relative;
    z-index:1;
}

#ba-right .maptabs li {
    position:relative;
    z-index:2;
    margin:0;
    padding:0;
    height:32px;
    display:block;
    float:left;
    background:url(../../images/bikeapp/btn-2.png) no-repeat 0 -131px;
    padding-left:14px;
    margin-right:17px;
}

#ba-right .maptabs li a {
    height:22px;
    display:block;
    font-size:10px;
    background:url(../../images/bikeapp/btn-2.png) no-repeat 100% -131px;
    padding-right:14px;
    margin-right:-14px;
    padding-top:10px;
    text-transform:uppercase;
    color:#0063ae;
}

#ba-right .maptabs li.current {
    background-position:0 -95px;
}

#ba-right .maptabs li.current a {
    background-position:100% -95px;
    color:#000000;
}

/* application */
#ba-right .application {
    border:1px solid #cbccce;
    border-top:0;
}

/* filters */
#ba-right .filters {
    background:url(../../images/bikeapp/ba-sprite.png) repeat-x 0 -571px;
    font-size:11px;
    position:relative;
    border-bottom:1px solid #eaebdb;
}

.filters h6 {
    font-weight:bold;
    font-family:"helvetica","arial",sans-serif;
    padding:10px 0 0 11px;
    float:left;
}

.filters .filteroptions {
    margin:0;
    margin-left:60px;
    padding-top:5px;
    padding-bottom:5px;
    margin-right:60px;
}

.filteroptions .filter {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    margin:5px 10px 5px 0;
}

.filters .filteroptions label {
    display:block;
    font-weight:bold;
    margin:1px 0 0 3px;
	color: #333;
}

.overlay.filters .filteroptions label {
    display:block;
    line-height:1em;
    float:left;
    height:16px;
    margin-right:5px;
}

.filteroptions .datefilter {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.filteroptions .datefilter label {
    display:block;
    width:40%;
    *margin-bottom:4px;
    float:left;
    margin-left:2px;
}

.filteroptions .datefilter label.label-to {
    margin-left:20px;
}

.filteroptions .filter .fromto {
    background:url(../../images/bikeapp/btn-2.png) no-repeat -358px -170px;
    display:block;
    position:relative;
    height:20px;
    clear:both;
}

.filteroptions .datefilter img.ui-datepicker-trigger {
    position:relative;
    float:left;
    margin-left:2px;
    margin-top:2px;
}

.filteroptions .filter .fromto input {
    width:50px;
    letter-spacing:-0.05em;
    height:15px;
    font-size:10px;
    color:#4c4c4c;
    font-family:"Trebuchet MS",sans-serif;
    padding:0 3px;
    border:0;
    background:0;
    margin:2px 0 0 0;
    float:left;
}

.filter.citation {
    margin-right:0;
}

.filteroptions .filter .fromto input.to {
    margin-left:8px;
}

.filters .filteroptions span.check {
    float:left;
    display:block;
    width:16px;
    height:16px;
    background:url(../../images/bikeapp/ba-sprite.png) repeat-x 0 -729px;
}

.filters .filteroptions .selectmenu select {
    width:100px;
}

.filters .filteroptions span.check.checked {
    background-position:100% -729px;
}

.filters .submit {
    position:absolute;
    right:0px;
    top:24px;
    *top:32px;
    border:0;
    width:56px;
    height:26px;
    z-index:5;
    overflow:hidden;
    text-indent:-999px;
    font-size: 0;
    display:block;
    line-height: 0;  
    cursor:pointer;  
    background:url(../../images/bikeapp/btn-2.png) repeat-x -4px -170px;
}

.filters .loader {
    position:absolute;
    right:16px;
    top:18px;
}

/* overlays */
#ba-right .overlay.filters {
    background:none;
    font-size:11px;
    position:relative;
    padding-bottom:0;
    border:0;
}

#ba-right .overlay.filters h6 {
    padding-top:5px;
    margin-bottom:0;
}

.overlay.filters .filteroptions {
    padding-top:0px;
    padding-bottom:0;
    margin-left:70px;
}

.overlay.filters .updated {
    position:absolute;
    right:10px;
    top:5px;
    color:#646464;
    font-style:italic;
    display:block;
    text-align:right;
}

/****************  accident map  ***********************/
#accident-map {
    margin:0px 10px 10px 10px;
}

/**************** raw data table ***********************/

#raw-data {
    height:615px;
    overflow:auto;
}

#raw-data .header.date a {
    margin-right:40px;
}

#raw-data td {
    font-size:11px;
    padding:2px;
}

.source-line {
	
    color: gray;
    float: right;
    font-size: 0.95em;
    font-style: italic;
    padding-right: 3px;
    padding-top: 13px;
}

.download-raw {
	
	    color: #515151;
	    float: right;
	    padding: 3px;
		font-weight: bold;
}

#raw-data-table th {
    white-space:nowrap;
    font-size:10px;
    text-transform:uppercase;
    padding:3px 0;
}


.pagination {
	background-color: #f1f1f1;
	border-bottom: 1px dotted #b2b2b2;
	border-top: 1px dotted #b2b2b2;
	float: left;
	margin: 10px 0 10px 0px;
	padding: 5px 20px;
	width: 696px;
}


/****************  related stories override  ***********************/

#data-app .list {
    width:100%;
    border:0;
}

#data-app .relatedStories {
    padding:10px 0;
}

#data-app .relatedStories .item {
    margin-right:11px;
}

/****************  report accident  ***********************/

#report-accident legend {
    display:block;
    width:100%;
    *margin-left:-8px;
    border-bottom:1px solid #ffffff;
}

#report-accident h1 {
    margin-bottom:15px;
    padding-bottom:15px;
    border-bottom:1px solid #b4b4b4;
    display:block;
}

#report-accident h1,
#report-accident h2 {
    font-family:Georgia,serif;
}

#report-accident .ba-column {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
}

/* columns */

#report-accident .leftcol {
    width:425px;
    margin-left:10px;
}

#report-accident .rightcol {
    width:262px;
    margin-left:32px;
}

/* forms */
#report-accident .leftcol .formcontrol {
    display:inline-block;
    *display:inline;
    zoom:1;
    margin-right:16px;
}

#name-control input,
#street1-control input,
#street2-control input,
#city_text-control input,
#email-control input {
    width:175px;
}

#number_injured-control input,
#fatalities-control input {
    width:25px;
}

/*#report-accident #hnr-control {
    margin-left:2px;
}

#report-accident #hnr-control .label {
    margin-left:3px;
}

#report-accident #description-control {
    display:block;
}

#description-control textarea {
    width:385px;
}
*/
/* recent reports */

#report-accident .rightcol h2 {
    margin-bottom:15px;
    color:#000000;
}

#report-accident .rightcol table {
    border-top:1px solid #b4b4b4;
}

#report-accident .rightcol th {
    color:#000000;
    font-size:10px;
    font-weight:bold;
    text-transform:uppercase;
    white-space:nowrap;
}

#report-accident .rightcol th.last,
#report-accident .rightcol td.last {
    text-align:right;
    width:50px;
}

#report-accident .rightcol td {
    border-bottom:1px dotted #b4b4b4;
    padding:8px;
}

#report-accident .rightcol span.nhnr,
#report-accident .rightcol span.hnr {
    display:block;
    overflow:hidden;
    width:22px;
    height:0px;
    padding-top:22px;
    margin:0 auto;
}

#report-accident .rightcol span.hnr {
    background:url(../../images/bikeapp/ba-sprite.png) no-repeat 4px -757px;
}

#report-accident .rightcol .date {
    font-style:italic;
    font-size:11px;
}

#report-accident .rightcol address {
    margin:0;
    padding:0;
    font-weight:bold;
    font-style:normal;
    font-size:14px;
}

/* index pg peekaboo info window stylin' */

.logoTitle {
	text-indent: -9999em;
	background: url(../../images/bikeapp/titleLogo.png) no-repeat;
	height: 30px;
	width: 435px;
	margin: 0 0 20px 0;
}
#introCopy {
	border: 1px solid #c9cacc; 
	margin: 0 0 15px 0;
}
#introCopy #introCopy-c {
	background-color: #fafbda; 
	border: 2px solid #ecedcf; 
	padding: 10px;
}
#introCopy h1 {
	font-size: 1.8em;
	font-family: sans-serif;
	margin-bottom: 10px;
}
#introCopy ul {
	float: right; 
	width: 300px; 
	margin: 20px 0 0 40px;
	border-left: 1px solid #c9cacc;
	padding-left: 40px;
}

#hide-c {
    text-align:right;
	clear:both;
    padding:10px 0;
}

#hide {
    background:url(../../images/bikeapp/info.png) no-repeat 100% 0;
    padding:3px 20px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* filter results bar */

#filter-results {
	background: #d0e0f0 url(../../images/bikeapp/bg-resultsBar.png) top repeat-x;
	border: 1px solid #6c8fb0;
	font-size: 11.9px;
	font-weight: bold;
	margin: 0 10px;
	padding: 10px;
}

#filter-results-raw {
	background: #d0e0f0 url(../../images/bikeapp/bg-resultsBar.png) top repeat-x;
	border: 1px solid #6c8fb0;
	font-size: 11.9px;
	font-weight: bold;
	padding: 10px;
}
