{% extends "bike_accidents/bike_accidents_base.html" %}

{% load generic_tags %}

{% block page_title %}Bike Accidents - The Bay Citizen{% endblock %}

{% block internal_css_includes %}
    {{block.super}}
    <link rel="stylesheet" href="{{MEDIA_URL}}css/datepicker/redmond/jquery-ui-1.8.4.custom.css" type="text/css"  />
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript" charset="utf-8">

        var vis_url = '{% url bike_accidents_index %}';
        var charts_url = '{% url bike_accidents_charts %}';
        var raw_url = '{% url bike_accidents_raw %}';
        var test = '{{ query_str}}';
        function checkdate(input){
            var dateformat = /^\d{1,2}(\-|\/|\.)\d{1,2}\1\d{4}$/
            return dateformat.test(input);
        }
        $("#submitbutton").click(function(){
                var date_from = $("#id_date_from").val();
                var date_to = $("#id_date_to").val();
                var retVal = checkdate(date_from);
                var retValDos = checkdate(date_to);
                if(retVal && retValDos){
                    f_date = new Date(date_from);
                    t_date = new Date(date_to);
                    if(t_date <= f_date){
                        alert("Your from date should occur before your end date.");
                        return false;
                    }
                    end_date = new Date("12/31/2009");
                    start_date = new Date("01/01/2005");
                    if(f_date < start_date){
                        alert("Sorry, but our data set begins on 01/01/2005.  Please use a later from date.");
                        return false;
                    }
                    if(t_date > end_date){
                        alert("Sorry, but our data set ends on 12/31/2009.  Please use an earlier start date.");
                        return false;
                    }
                    $("#filter-form").submit();
                } else {
                    alert("Please enter a valid date (our format: mm/dd/YYYY)");
                    return false;
                }
        });
        $(document).ready(function(){
            history.pushState('', 'query', raw_url + '{{query_str|safe}}');
            $("#map_tab").attr('href', vis_url + '{{query_str|safe}}');
            $("#raw_tab").attr('href', raw_url + '{{query_str|safe}}');
            $("#charts_tab").attr('href', charts_url + '{{query_str|safe}}');
            $(".twitter").html('');
            $(".twitter").html('<span class="label">Twitter</span><iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url={{query_str|safe}}&count=none&related=shaneshifflett:davidsuriano:tasneemraja&text=I explored @TheBayCitizen\'s Bike Accident Tracker; check out accidents near you:" style="width:130px; height:25px;"></iframe><p><p></p></p><div class="clearfix"></div>');

        });
        $(function (){
             $("#id_date_from").datepicker({
                showOn: "button",
                buttonImage: "{{MEDIA_URL}}images/icons/icon-calendar-bw-16x16.png",
                buttonImageOnly: true,
                dateFormat: 'mm/dd/yy',
                minDate: '01/01/09', 
                onSelect: function(selected_date) {
                    $('#loading-notification').fadeIn();
                }
            });
            $("#id_date_to").datepicker({
                showOn: "button",
                buttonImage: "{{MEDIA_URL}}images/icons/icon-calendar-bw-16x16.png",
                buttonImageOnly: true,
                dateFormat: 'mm/dd/yy',
                maxDate: '11/30/10',
                onSelect: function(selected_date) {
                    $('#loading-notification').fadeIn();
                }
            });
        });
    </script>
{% endblock %}

{% block main_column %}

<div id="bike-app" class="cf">
    <div class="inside-bike-app cf">
        <div class="filters">
            {% include "bike_accidents/bike_accidents_filter.html" %}
        </div>

        <div class="application">
        
            <a href="{% url bike_accidents_report %}" class="awesome small green">Report your own accident</a>
        
            <ul class="bike-tabs cf">
                <li>
                    <a id="map_tab" href="{% url bike_accidents_index %}" title="Reported Accidents">
                        Accident Map
                    </a>
                </li>
                <li class="">
                    <a id="charts_tab" href="{% url bike_accidents_charts %}" title="Reported Accidents">
                        Charts
                    </a>
                </li>
                <li class="current">
                    <a id="raw_tab" href="{% url bike_accidents_raw %}" title="Reported Accidents">
                        Raw Data
                    </a>
                </li>
            </ul>
        
            <div class="overlay">            
            
            </div>
            <div class="main-body">
                <div id='filter-results-raw'>
                    <span style="color:#12487a;">NOW SHOWING: </span>{{accidents_count}} accidents
                    <span style="color:gray; font-size: .9em; font-style: normal;">| {{accidents_percent|floatformat:"-1"}}% of all cases</span><br />
                    <span style="color:gray; font-size: .8em; font-weight: normal;">Locations with more than one accident display only the most recent one--see <a href="{% url bike_accidents_raw %}">Raw Data</a> for full list. Locations with 5+ crashes are marked as red Hotspots.</span>
                </div>
                <div id="raw-data">
                    <table class="tablesorter" id="raw-data-table">
                        <thead>
                            <tr>
                            {% for column in table.columns %} 
                                <th class="header {% if column.is_ordered_reverse %}headerSortDown{% endif %}{% if column.is_ordered_straight%}headerSortUp{% endif %} {{column.name}}"><a href='{% if query_str != '' %}{{query_str}}&sort={{column.name_toggled}}{% else %}?sort={{column.name_toggled}}{% endif %}'>{{column}}</a></th>
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table.rows.page %}
                                <tr class="{% cycle 'grey even' 'white odd' %}">
                                {% for value in row %} 
                                    {% if forloop.first %}
                                        <td>{{value|date:'m/d/y  g:ia'}}</td>
                                    {% else %}
                                        <td>{{value|title|default_if_none:''}}</td>
                                    {% endif %}
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% paginate_data table.paginator %}
            <div class="clearfix"></div>
<!--            <div class="main-add">
                <img src="{{MEDIA_URL}}images/bikeapp/intel-add.jpg" alt="" />
            </div>-->
        </div>
    </div>
    <img id="lcfoot" src="{{MEDIA_URL}}images/bikeapp/lcfoot.jpg" alt="" height="10" width="201" />
</div>
<div class="byline">By: Zusha Elinson, Sydney Lupkin, Shane Shifflett, David Suriano & Tasneem Raja. Published 5/31/2011.</div>    


{% endblock %}
