{% extends "bike_accidents/bike_accidents_base.html" %}
{% load content_filters %}
{% block page_title %}Bike Accidents - The Bay Citizen{% endblock %}

{% block internal_css_includes %}
    {{block.super}}
    <link rel="stylesheet" href="{{MEDIA_URL}}css/common/forms.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}css/datepicker/redmond/jquery-ui-1.8.4.custom.css" type="text/css"  />
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
        
	});
    </script>
{% endblock %}

{% block main_column %}
<div id="bike-app" class="report-accident cf">

    <ul class="bike-tabs cf">
        <li>
            <a href="{% url bike_accidents_index %}" title="Reported Accidents">
                Accident Map
            </a>
        </li>
        <li>
            <a href="{% url bike_accidents_charts %}" title="Reported Accidents">
                Charts
            </a>
        </li>
        <li>
            <a href="{% url bike_accidents_raw %}" title="Reported Accidents">
                Raw Data
            </a>
        </li>
    </ul>
    
    <div id="report-accident" class="two-col tc2">
        <div class="col c1">
            <div class="c1pad">
                <h2>Aftermath <span>Step {{ step }} of {{ step_count }}</span></h2>
                
    			<form action="." method="post">{% csrf_token %}

                <div class="form-row-vert cf">
                    <div class="formcontrol textarea">
                		{{form.injury_description.errors}}
                		<label for="id_2-injury_description">Please tell us about any injuries you suffered:</label>
                		{{form.injury_description}}
                    </div>
                </div>

                <div class="form-row-vert cf">
                    <div class="formcontrol textbox">
                		{{form.officially_reported.errors}}
                		<label for="id_2-officially_reported">Did you report the accident to authorities?</label>
                		{{form.officially_reported}}
                    </div>
                    <div class="formcontrol textbox">
                		{{form.next_steps.errors}}
                		<label for="id_2-next_steps">Tell us what you did next:</label>
                		{{form.next_steps}}
                    </div>
                    <div class="formcontrol textbox">
                		{{form.accident_cost.errors}}
                		<label for="id_2-accident_cost">How much did this accident cost you?:</label>
                		${{form.accident_cost}}
                		<em class="example">repairs, injury, legal, etc</em>
                    </div>
                </div>


                <div class="form-row-vert cf">
                    <div class="formcontrol textarea">
                		{{form.cost_description.errors}}
                		<label for="id_2-cost_description">Please describe to us the cost breakdown of this accident:</label>
                		{{form.cost_description}}
                    </div>
                </div>

					<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
					{{ previous_fields|safe }}

                    <div class="report-button or">
                        <button type="submit" class="awesome large orange" />Finish</button>
        				<a id="big-picture"  href='{% url bike_accidents_thanks %}'>
        				    Click here to save your results and quit 
        				    <em>We'll hang on your current report just in case you change your mind.</em>
        				</a>
                        <!--a id="big-picture" href="#">
                            Help us understand the bigger picture and answer a few more questions
                            <em>We'll save your current report just in case you change your mind.</em>
                        </a-->
                    </div>
                
    			</form>			
                <p class="noshare">
                    <em>The Bay Citizen promises to never sell, rent, or share your personal information with any third parties (or with first or second parties for that matter).</em>
                </p>
            </div>
        </div><div class="col c2">
            <img src="{{MEDIA_URL}}images/bikeapp/add2.jpg" alt=""/>
        </div>
    </div>
</div>
{% endblock %}

