/* 
 * Sliding Tabs - jQuery Plugin
 * Copyright 2010, Christian Andre
 *
------------------------------------------------------------------------------------- */
#loading-tabs {
	width:932px;
	position:absolute;
	z-index:5; 
	height:342px;
	top:60px;
	left:12px;
    background:#ffffff url(../../images/datalibrary/ajax-loader.gif) 50% 50% no-repeat;
}

div#tabs_vertical {	
    background:url(../../images/datalibrary/fet-proj4.png) 0 0 no-repeat;
	position:relative;
	z-index:4; 
	float:left;
	clear:both;
	width:930px;
	border:1px solid #d4d4d4;
	margin:10px 0 20px 12px;
	*overflow:hidden;
}

/* Control buttons
------------------------------------------------------------------------------------- */
div#tabs_vertical a.prev, 
div#tabs_vertical a.next {	
	display:none;
	float:left;
	position:relative;
	z-index:100;	
	height:36px;
	width:83px;
	border:1px solid #d4d4d4;
	border-top:1px;	
	background:#fff url(../../images/slidingtabs/btn_arrows.gif) no-repeat;	
	position:absolute;
	bottom:0;
	left:0;
}

div#tabs_vertical a.prev {
	border-right:0 none;
	background-position:35px -47px;
	border-left:0 none;
}

div#tabs_vertical a.prev:hover {	
	background-position:-28px -47px;
	background-color:#f5f5f5;
}

div#tabs_vertical a.next {
	background-position:34px -79px;
	left:83px;
}

div#tabs_vertical a.next:hover {
	background-position:-29px -79px;
	background-color:#f5f5f5;
}

div#tabs_vertical a.prev.disabled,
div#tabs_vertical a.next.disabled {
	cursor:default;
	background-color:#f7f7f7;
}

div#tabs_vertical a.prev.disabled {
	background-position:-91px -47px;
}

div#tabs_vertical a.next.disabled {
	background-position:-92px -79px;
}

/* Tabs
------------------------------------------------------------------------------------- */
div#tabs_vertical div#v_tabs_container {  	
    margin-top:60px;
	position:relative;
	z-index:100;
	float:left;
	width:169px; /* +1px for the negative right margin */
    /*  height:337px;*/
    height:277px;
	margin-right:-1px;
	border-top:1px solid #d4d4d4;
	overflow:hidden;
}

div#tabs_vertical div#v_tabs_container div.slide_container {
	position:relative !important; /* The tabs position will be calculated from the ul.tabs first parent element with position:relative */
	float:left;
}

div#tabs_vertical div#v_tabs_container ul.tabs {
	width:168px;
	margin-top:0px;
	float:left;
	padding:0 0 0 0;
	background-color: none; 
	border-bottom: 0; 
	margin:0 0 0 0;
}

div#tabs_vertical div#v_tabs_container ul.tabs li {
	float:left;
	clear:both;
	list-style:none;
	margin:0;
	padding:0;
}

div#tabs_vertical ul.tabs li a {
	display:table-cell;
	width:151px;
	height:61px;
	padding:4px 8px;
    position:relative;
	font-size:11px;
	color:#5c5c5c;
	font-weight:bold;
	line-height:normal;
	border-left:0px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
	background:#F4F4F4 url(../../images/slidingtabs/v_tab_bg.jpg) repeat-x 0px 0px;	
	border-right:1px solid #d4d4d4;
    vertical-align: middle;
}

div#tabs_vertical div#v_tabs_container ul.tabs li a span {
    display:inline-block;
}
div#tabs_vertical div#v_tabs_container ul.tabs li a img {
    vertical-align: middle;
}

div#tabs_vertical ul.tabs a:hover {
	color:#333;
}

div#tabs_vertical ul.tabs a.active {
	position:relative;
	z-index:10;
	color:#1ca5ec;
	background:#fff;
	border-right:1px solid #ffffff;
}

/* Content
------------------------------------------------------------------------------------- */
div#tabs_vertical div#v_content {
	position:relative;
	z-index:5;
	float:left;	
	width:762px;
	height:337px;
	padding:0px;
	margin:0;
	line-height:18px;
	border-right:0px solid #d4d4d4;
	background-color:#fff;
	overflow:hidden;
}

div#tabs_vertical div#v_content div.view_container {
	position:relative;
	width:762px;
	height:338px;
}

div#tabs_vertical div#v_content div.tab_view {	
	width:756px;
	height:337px;
	margin:0px;
	padding:5px;
	background-color:#fff;
	position:absolute;
	z-index:1;
	background:url(../../images/datalibrary/dl-featured-bg2.png) 101% 100% no-repeat #fff;
}

/* custom */
div#tabs_vertical .leadart {
    display:block;
    margin:10px 0 0 12px;
}

/* slides */
p.deck {
    position:absolute;
    width:150px;
    top:33px;
    right:10px;
    font-family:"Georgia",serif;
    font-size:14px;
    font-style:italic;
    line-height:1.5em;
    z-index:1;
}

#data-app #v_content a.launch {
    position:absolute;
    bottom:16px;
    right:56px;
}
