<div id="primaryStats">
<h2 class="bigteal">By the Numbers: {{school.name|title}}</h2>
<p>All statistics are for kindergarten enrollment at the start of the respective school year.</p>

<table border="0" cellspacing="0" cellpadding="0">
 {% if iz_2009 %}
 <thead>
<tr>
	<th class="main">
	</th>
	<th>
	</th>
</tr>
</thead>
<tbody>
<tr>
	<td class="">
		% of kindergartners up-to-date by the start of school year
	</th>
	<td class="value">
		{{iz_2009.up_to_date_percent|floatformat}}%
	</td>
</tr>
<tr>
	<td class="">
		Personal belief exemption rate
	</th>
	<td class "value">
		{{iz_2009.pbe_percent|floatformat}}%
	</td>
</tr>
<tr>
	<td class="">
		Number of conditional entrants
	</th>
	<td class="value">
		{{iz_2009.conditional_number}}
	</td>
</tr>
<tr class="tfoot">
	<td class="">
		Total kindergarten enrollment
	</th>
	<td class="value">
		{{iz_2009.enrollment}}
	</td>
</tr>
<!--tr>
	<td colspan="2">
		<div class="sep">
		</div>
	</td>
</tr-->
 {% endif %} {% if iz_2008 %}
<thead>
<tr>
	<td class="main">
		School year
	</th>
	<th>
		2008-09
	</th>
</tr>
</thead>
<tbody>
<tr>
	<td class="">
		% of kindergartners up-to-date by the start school year
	</th>
	<td class="value">
		{{iz_2008.up_to_date_percent|floatformat}}%
	</td>
</tr>
<tr>
	<td class="">
		Personal belief exemption rate
	</th>
	<td class="value">
		{{iz_2008.pbe_percent|floatformat}}%
	</td>
</tr>
<tr>
	<td class="">
		Number of conditional entrants
	</th>
	<td class="value">
		{{iz_2008.conditional_number}}
	</td>
</tr>
<tr>
	<td class="">
		Total kindergarten enrollment
	</th>
	<td class="value">
		{{iz_2008.enrollment}}
	</td>
</tr>
 {% endif %} {% if iz_2007 %}
<tr>
	<td class="main">
		School year
	</th>
	<td class="value">
		2007-08
	</td>
</tr>
<tr>
	<td class="">
		% of kindergartners up-to-date by the start of school year
	</th>
	<td class="value">
		{{iz_2007.up_to_date_percent|floatformat}}%
	</td>
</tr>
<tr>
	<td class="">
		Personal belief exemption rate
	</th>
	<td class="value">
		{{iz_2007.pbe_percent|floatformat}}%
	</td>
</tr>
<tr>
	<td class="">
		Number of conditional entrants
	</th>
	<td class="value">
		{{iz_2007.conditional_number}}
	</td>
</tr>
<tr class="tfoot">
	<td class="">
		Total kindergarten enrollment
	</th>
	<td class="value">
		{{iz_2007.enrollment}}
	</td>
</tr>
 {% endif %}
 </tbody>
</table>
</div>
