<script type="text/javascript">
$(document).ready(function() {

		var chart1 = new Highcharts.Chart({
			chart: {
				renderTo: 'vacc_app_chart1',
				defaultSeriesType: 'column',
                height: 250
			},
            legend: {
                align: 'center',
				layout: 'horizontal',
                x: 30,
                itemWidth: 105
            },
			xAxis: {
				categories: ['Counties']
			},
			yAxis: {
				min: 60,
				title:{
					text: 'Percent'
				}
			},
            plotOptions: {
                series: {
                    events: {
                        legendItemClick: function(event) {
                            event.preventDefault();
                            return false;
                        }
                    }
                }
            },
			title: {
		        text: 'Immunization Rates by County, 2010-11' 
		    },
			tooltip: {
				formatter: function() {
					return ''+
						 this.series.name +': '+ this.y +'%';
				},
				style: {
					color: '#515151',
					fontSize: '9pt',
					padding: '5px'
				}
			},
			credits: {
				enabled: false
			},
	        series: [
	        {% for data in counties_data %}
		        {
	    			name: '{{data.county.name|title}}',
	    			data: [{{data.percent_up_to_date|floatformat:2}}]
				}{% if not forloop.last %},{% endif %}
			{% endfor %}
			]
		});
});
</script>
<div id="vacc_app_chart1"></div>
