<section id="immunize-glossary" class="grey wrap-box accordion">
    <header>
        <h1>Glossary</h1>
        <span class="rightcap"></span>
        <span class="rightnib"></span>
    </header>
	<div id="faq-navigation">
        <h5><a href="#">'Up to Date' and 'Conditional'</a></h5>
    	<div style="display:none;">
    	    <h6>About Personal Belief Exemptions</h6>
    		<p>At the start of the school year, kindergarteners must have been adequately vaccinated for polio, diphtheria, tetanus, whooping cough, measles, mumps, rubella, hepatitis B and chicken pox (or have had chicken pox). Under some circumstances, a child may start kindergarten if he or she is not fully vaccinated and does not have a personal belief exemption or permanent medical exemption, but these children are considered "conditional entrants," and the school must follow up, according to the California Department of Public Health.</p>

    		<p>For The Bay Citizen's coverage of the whooping cough epidemic, click<a href="http://www.baycitizen.org/whooping-cough/">here.</a></p> 
    	</div>
	    
	    <h5><a href="#">About Personal Belief Exceptions</a></h5>
		<div style="display:none;">
<p>It's easy for parents in California to get a personal belief exemption for their child. They need only sign a statement provided on their school’s immunization form. Some other states make it tougher, requiring parents to write a letter explaining their decision. Ironically, it's easier to opt out of school vaccinations in California than to provide documentation of a child's vaccination history. A very small fraction of children cannot receive immunizations for medical reasons and receive a "permanent medical exemption."</p>
<p>Note that the data encompasses schools with 10 or more kindergartners enrolled in fall 2010. City, county, and district data reflects where the schools are located. Some students do not live in the same county or city where they attend school.</p>
    	</div>

	    <h5><a href="#">Conditional Entrants</a></h5>
		<div style="display:none;">
<p>Some kindergartners who enter school without any immunizations do not cite an exemption, but instead promise to be vaccinated in the near future. Schools are required to follow up.</p>
		</div>
    </div>
</section>
