<script type="text/javascript">
$(document).ready(function() {
	Highcharts.setOptions({
		colors: ['#5077B3', '#65B651', '#646464']
	});
		
	var chart1 = new Highcharts.Chart({
		chart: {
			renderTo: 'vacc_app_chart1',
			defaultSeriesType: 'column',
			height: 250
		},
		legend: {
			align: 'center',
			layout: 'horizontal'
		},
		yAxis:{
			title:{
				text: 'Percent'
			}
		},
		xAxis: {
			categories: ['{{school.name|title}} vs. {{school.district.name|title}} vs. {{school.city.name|title}} vs. {{school.county.name|title}} County']
		},
		tooltip: {
			formatter: function() {
				return ''+
					 this.series.name +': '+ this.y +'%';
			},
			style: {
				color: '#515151',
				fontSize: '9pt',
				padding: '5px'
			}
		},
        title: {
            text: '2010-11 School Year Immunization Rates'
        },
		plotOptions: {
			column: {
				dataLabels: {
				   enabled: true
				}
			},
			series: {
				 events: {
					 legendItemClick: function(event) {
						 event.preventDefault();
						 return false;
					 }
				 }
			 }
		},
	  credits: {
			enabled: false
		},
		series: [
			{
				name: 'School rate',
				data: [{{iz_2009.up_to_date_percent|floatformat}}]
			}
			{% if district_pbe_percent %}
			,{
				name: 'District rate',
				data: [{{district_iz_percent|floatformat}}]
			}
			{% endif %}
			,{
				name: 'City rate',
				data: [{{city_iz_percent|floatformat}}]
			}
			,{
				name: 'County rate',
				data: [{{county_iz_percent|floatformat}}]
			}
		]
	});
});
</script>
<div id="vacc_app_chart1"></div>
